flujo_n8n/respaldo/Utpl_CierreLlamadas.json
{
  "name": "Utpl-CierreLlamadas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "utpl-cierre-vapi",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -36220,
        6680
      ],
      "id": "9c343c82-b378-4daa-b676-1f00d487856b",
      "name": "Webhook Cierre VAPI UTPL",
      "webhookId": "utpl-cierre-vapi-001"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  item.json.cfg = {\n      db: { schema: 'public', table: 'utpl_registros', pk: 'id_negocio' },\n      states: { pending: 'PENDIENTE', inProgress: 'EN_PROCESO', retry: 'REINTENTAR', done: 'FINALIZADO' },\n      retryNomenclaturas: ['NC', 'VLL'],\n      policy: { TZ: 'America/Guayaquil' },\n      phoneFields: ['telefono1', 'telefono2', 'telefono3', 'telefono4', 'telefono5', 'telefono6'],\n      crmUtpl: {\n        triggerNomenclaturas: ['NIN'],\n        wsUrl: 'http://192.168.10.112/WSUtpl/ServiceUtpl.asmx',\n        soapAction: 'http://tempuri.org/RegistrarLLamada',\n        agentName: 'ARIA UTPL',\n        dealstage: { NIN: '1020923926', NC: '1008735099' },\n        defaultDisposition: {\n          agotado: { disposition: 'fa9b4696-95d1-4b4a-906f-4b0b7b7f155b', subEstado: 'NIN - No Localizable' }\n        }\n      },\n      altiva: {\n        urlBase: 'http://192.168.10.238:91',\n        clientId: '7',\n        clientSecret: 'ug7wMESTpOPPmdDC3KoEyYpVXskcOqRWnfHFZm8X',\n        nombreCampania: 'utpl_integracion',\n        nodoMapping: { NIN: '1', ACE: '2', IND: '2', NUE: '2' }\n      }\n    };\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -35980,
        6680
      ],
      "id": "51771b00-8b49-49ca-a596-74df1dfdc051",
      "name": "CONFIG INICIAL UTPL"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const root = item.json || {};\n  const envelope = root.body && typeof root.body === 'object' ? root.body : root;\n  const msg = envelope.message || envelope.data || root.message || root.data || {};\n\n  const findDeep = (obj, predicate) => {\n    const seen = new Set();\n    const stack = [obj];\n    while (stack.length) {\n      const cur = stack.pop();\n      if (!cur || typeof cur !== 'object') continue;\n      if (seen.has(cur)) continue;\n      seen.add(cur);\n      if (predicate(cur)) return cur;\n      for (const v of Object.values(cur)) {\n        if (v && typeof v === 'object') stack.push(v);\n      }\n    }\n    return null;\n  };\n\n  const callObj = msg.call || envelope.call || root.call ||\n    findDeep(msg, (x) => x.id && (x.startedAt || x.endedAt || x.customer || x.metadata));\n\n  const metadata = (callObj && callObj.metadata) || msg.metadata || envelope.metadata || root.metadata || {};\n\n  const startedAt = (callObj && callObj.startedAt) || msg.startedAt || envelope.startedAt || root.startedAt || null;\n  const endedAt = (callObj && callObj.endedAt) || msg.endedAt || envelope.endedAt || root.endedAt || null;\n  const endedReason = msg.endedReason || envelope.endedReason || root.endedReason || null;\n  const eventType = msg.type || envelope.type || root.type || null;\n  const callId = (callObj && callObj.id) || msg.id || envelope.id || root.id || null;\n  const customer = (callObj && callObj.customer) || msg.customer || envelope.customer || root.customer || {};\n\n  const transcript = msg.transcript || envelope.transcript || root.transcript ||\n    (msg.artifact && msg.artifact.transcript) || null;\n  const recordingUrl = msg.recordingUrl || envelope.recordingUrl || root.recordingUrl ||\n    (msg.artifact && msg.artifact.recordingUrl) || null;\n  const summary = msg.summary || envelope.summary || root.summary || null;\n\n  const durationMs = msg.durationMs || envelope.durationMs || root.durationMs || null;\n  const durationSeconds = msg.durationSeconds || envelope.durationSeconds || root.durationSeconds ||\n    (durationMs ? Math.round(durationMs / 1000) : null);\n\n  const cost = msg.cost || envelope.cost || root.cost || 0;\n\n  const artifact = msg.artifact || envelope.artifact || root.artifact || {};\n  const structuredOutputs = artifact.structuredOutputs || msg.structuredOutputs ||\n    envelope.structuredOutputs || root.structuredOutputs || {};\n\n  const transfers = artifact.transfers || msg.transfers || envelope.transfers || root.transfers || [];\n\n  item.json = {\n    id_negocio: metadata.id_negocio || null,\n    cedula: metadata.cedula || null,\n    id_llamada: callId || null,\n    event_type: eventType,\n    endedReason: endedReason,\n    startedAt: startedAt,\n    endedAt: endedAt,\n    transcript: transcript,\n    recordingUrl: recordingUrl,\n    summary: summary,\n    durationMs: durationMs,\n    durationSeconds: durationSeconds,\n    cost: cost,\n    customer_number: customer.number || null,\n    customer_name: customer.name || null,\n    metadata: metadata,\n    artifact: artifact,\n    structuredOutputs: structuredOutputs,\n    transfers: transfers,\n    _raw: envelope\n  };\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -35740,
        6680
      ],
      "id": "dd434d38-bbd2-4be2-945b-b458d39f6093",
      "name": "NORMALIZA EVENTO CIERRE UTPL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "evt_type",
              "leftValue": "={{ String($json.event_type || '').toLowerCase() }}",
              "rightValue": "end-of-call-report",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "evt_endedAt",
              "leftValue": "={{ $json.endedAt || null }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "evt_endedReason",
              "leftValue": "={{ $json.endedReason || null }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -35480,
        6680
      ],
      "id": "6b1faf82-dd35-4e25-b407-59e6ee7d7194",
      "name": "ES EVENTO CIERRE VALIDO"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const root = item.json || {};\n  const structuredOutputs = root.structuredOutputs || {};\n  let out = {\n    nomenclatura: null,\n    motivo: null,\n    es_familiar: null,\n    contactoalo: null,\n    contactoefectivo: null,\n    sentimiento: null,\n    resumen_llamada: root.summary || null,\n    interes_llamada_ejecutivo: null\n  };\n\n  const tryParse = (val) => {\n    if (!val) return val;\n    if (typeof val === 'object' && !Array.isArray(val)) return val;\n    if (typeof val === 'string' && (val.trim().startsWith('{') || val.trim().startsWith('['))) {\n      try { return JSON.parse(val); } catch (e) {}\n    }\n    return val;\n  };\n\n  const normalize = (name) => String(name || '').toLowerCase().replace(/[\\s_]+/g, '');\n\n  for (const [uuid, output] of Object.entries(structuredOutputs)) {\n    const name = normalize(output.name);\n    const result = tryParse(output.result);\n\n    if (name === 'estadogestionutpl' && typeof result === 'object') {\n      out.nomenclatura = result.id_nomenclatura || result.nomenclatura || out.nomenclatura;\n      out.motivo = result.id_motivo || result.motivo || out.motivo;\n    }\n    if (name === 'sentimientocliente') {\n      out.sentimiento = typeof result === 'string' ? result : null;\n    }\n    if (name === 'esfamiliar') {\n      out.es_familiar = typeof result === 'string' ? result : null;\n    }\n    if (name === 'contactoalo') {\n      out.contactoalo = typeof result === 'string' ? result : null;\n    }\n    if (name === 'contactoefectivo') {\n      out.contactoefectivo = typeof result === 'string' ? result : null;\n    }\n    if (name === 'resumenllamada') {\n      out.resumen_llamada = typeof result === 'string' ? result : (result?.resumen || out.resumen_llamada);\n    }\n    if (name === 'interescontactoejecutivo') {\n      out.interes_llamada_ejecutivo = typeof result === 'string' ? result : null;\n    }\n  }\n\n  if (!out.interes_llamada_ejecutivo) {\n    out.interes_llamada_ejecutivo = 'NO_APLICA';\n  }\n\n  for (const [k, v] of Object.entries(out)) {\n    if (v !== undefined) item.json[k] = v;\n  }\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -35180,
        6480
      ],
      "id": "6cc510a8-b9d2-40ba-8035-1028011fe896",
      "name": "EXTRAE STRUCTURED OUTPUTS"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const endedReason = String(item.json.endedReason || '').toLowerCase();\n\n  // Parsear Estado_Gestion_UTPL desde structured outputs para extraer codigo de nomenclatura\n  const structuredOutputs = item.json.structuredOutputs || {};\n  const estadoGestionOutput = structuredOutputs['3723ad72-ac27-43ac-8a6f-8edaf18d28f6'];\n  let parsedNomenclatura = '';\n  let parsedMotivo = '';\n  if (estadoGestionOutput && typeof estadoGestionOutput.result === 'string') {\n    const full = estadoGestionOutput.result.trim();\n    const slashIdx = full.indexOf('/');\n    if (slashIdx >= 0) {\n      parsedMotivo = full.trim();\n      const afterSlash = full.substring(slashIdx + 1).trim();\n      const codeMatch = afterSlash.match(/\b(NUE|ACE|IND|VLL|NIN|NC)\b/i);\n      if (codeMatch) {\n        parsedNomenclatura = codeMatch[1].toUpperCase();\n      }\n    }\n  }\n\n  // Fallback: si no hay structured output y es un caso de no-contacto/error, motivo por defecto\n  if (!parsedMotivo && (\n    endedReason.includes('voicemail') || endedReason.includes('silence') ||\n    endedReason.includes('error') || endedReason.includes('failed') ||\n    endedReason.includes('providerfault') || endedReason.includes('service-unavailable') ||\n    endedReason.includes('timeout') || endedReason.includes('busy') ||\n    endedReason.includes('declined') || endedReason.includes('no-answer') ||\n    endedReason.includes('wrong-number') || endedReason.includes('503') ||\n    !item.json.endedAt || Number(item.json.cost) === 0\n  )) {\n    parsedMotivo = 'NC - No Contacto';\n    parsedNomenclatura = 'NC';\n  }\n\n  const nom = String(item.json.nomenclatura || parsedNomenclatura || '').trim().toUpperCase();\n  const retryNoms = cfg.retryNomenclaturas || ['NC', 'VLL'];\n  const noContactReasons = ['voicemail', 'no-answer', 'busy', 'failed', 'error', 'timeout', 'declined', 'wrong-number', 'providerfault', 'service-unavailable', '503', '500', '408', '486', '480'];\n\n  // CLASIFICA EL ESTADO Y GENERA LA QUERY EN UN SOLO PASO\n  let estadoFlujo, statusSugerido, nomenclatura, fechaReagenda;\n\n  if (noContactReasons.some(r => endedReason.includes(r))) {\n    nomenclatura = 'NC';\n    statusSugerido = 'REINTENTAR';\n    estadoFlujo = cfg.states.retry;\n    const cooldown = \n      endedReason.includes('wrong-number') ? 60 :\n      endedReason.includes('voicemail') || endedReason.includes('silence') ? 30 :\n      endedReason.includes('busy') || endedReason.includes('declined') || endedReason.includes('no-answer') ? 15 : 10;\n    fechaReagenda = new Date(Date.now() + cooldown * 60000).toISOString();\n  } else if (retryNoms.includes(nom)) {\n    nomenclatura = nom;\n    statusSugerido = 'REINTENTAR';\n    estadoFlujo = cfg.states.retry;\n    fechaReagenda = new Date(Date.now() + 15 * 60000).toISOString();\n  } else if (!nom && (Number(item.json.cost) === 0 || !item.json.endedAt)) {\n    nomenclatura = 'NC';\n    statusSugerido = 'REINTENTAR';\n    estadoFlujo = cfg.states.retry;\n    fechaReagenda = new Date(Date.now() + 10 * 60000).toISOString();\n  } else {\n    nomenclatura = nom || null;\n    statusSugerido = 'FINAL';\n    estadoFlujo = cfg.states.done;\n    fechaReagenda = null;\n  }\n\n  item.json.estado_flujo = estadoFlujo;\n  item.json.status_sugerido = statusSugerido;\n  item.json.nomenclatura = nomenclatura;\n  item.json.motivo = parsedMotivo || item.json.motivo || null;\n  item.json.fecha_reagenda = fechaReagenda;\n\n  // GENERA LA QUERY SQL\n  const raw = String(item.json.id_negocio ?? '').trim();\n  if (!raw) {\n    item.json.query = `SELECT 'skip_no_id_negocio' AS status`;\n  } else {\n    const idNegocio = raw.replace(/'/g, \"''\");\n    const estado = String(estadoFlujo).replace(/'/g, \"''\");\n    const freag = fechaReagenda ? `'${String(fechaReagenda).replace(/'/g, \"''\")}'::timestamptz` : 'NULL';\n    item.json.query = `\n    UPDATE ${cfg.db.schema}.${cfg.db.table}\n    SET estado_flujo = '${estado}',\n        fecha_reagenda = ${freag},\n        updated_at = now()\n    WHERE id_negocio = '${idNegocio}'\n    RETURNING *;\n  `;\n  }\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -34940,
        6480
      ],
      "id": "235cbdd8-0bc9-4c77-bc74-ee97ac518dce",
      "name": "CLASIFICA ESTADO CIERRE (backup)"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const endedReason = String(item.json.endedReason || '').toLowerCase();\n  const structuredOutputs = item.json.structuredOutputs || {};\n  const estadoGestionOutput = structuredOutputs['3723ad72-ac27-43ac-8a6f-8edaf18d28f6'];\n\n  let nomenclatura, motivo, idNomenclatura, estadoFlujo, statusSugerido, fechaReagenda;\n\n  // 1. Extraer nomenclatura y motivo desde structured outputs\n  if (estadoGestionOutput && typeof estadoGestionOutput.result === 'string') {\n    const full = estadoGestionOutput.result.trim();\n    const slashIdx = full.indexOf('/');\n    if (slashIdx >= 0) {\n      nomenclatura = full.substring(0, slashIdx).trim();\n      motivo = full.substring(slashIdx + 1).trim();\n      const codeMatch = motivo.match(/\\b(NUE|ACE|IND|VLL|NIN|NC)\\b/i);\n      idNomenclatura = codeMatch ? codeMatch[1].toUpperCase() : null;\n    } else {\n      nomenclatura = 'NO CONTACTO';\n      motivo = 'NC - No Contacto';\n      idNomenclatura = 'NC';\n    }\n  } else {\n    nomenclatura = 'NO CONTACTO';\n    motivo = 'NC - No Contacto';\n    idNomenclatura = 'NC';\n  }\n\n  if (idNomenclatura === 'NIN') {\n    motivo = 'NIN - No Esta Interesado En Modalidad En Linea';\n  }\n\n  // 2. Clasificar estado\n  const retryNoms = cfg.retryNomenclaturas || ['NC', 'VLL'];\n  const noContactReasons = ['voicemail', 'no-answer', 'busy', 'failed', 'error', 'timeout', 'declined', 'wrong-number', 'providerfault', 'service-unavailable', '503', '500', '408', '486', '480', 'silence-timed-out'];\n\n  if (noContactReasons.some(r => endedReason.includes(r))) {\n    nomenclatura = 'NO CONTACTO';\n    motivo = 'NC - No Contacto';\n    idNomenclatura = 'NC';\n    statusSugerido = 'REINTENTAR';\n    estadoFlujo = cfg.states.retry;\n    const cooldown = \n      endedReason.includes('wrong-number') ? 60 :\n      endedReason.includes('voicemail') || endedReason.includes('silence') ? 30 :\n      endedReason.includes('busy') || endedReason.includes('declined') || endedReason.includes('no-answer') ? 15 : 10;\n    fechaReagenda = new Date(Date.now() + cooldown * 60000).toISOString();\n  } else if (retryNoms.includes(idNomenclatura)) {\n    statusSugerido = 'REINTENTAR';\n    estadoFlujo = cfg.states.retry;\n    fechaReagenda = new Date(Date.now() + 15 * 60000).toISOString();\n  } else if (!idNomenclatura && (Number(item.json.cost) === 0 || !item.json.endedAt)) {\n    nomenclatura = 'NO CONTACTO';\n    motivo = 'NC - No Contacto';\n    idNomenclatura = 'NC';\n    statusSugerido = 'REINTENTAR';\n    estadoFlujo = cfg.states.retry;\n    fechaReagenda = new Date(Date.now() + 10 * 60000).toISOString();\n  } else {\n    statusSugerido = 'FINAL';\n    estadoFlujo = cfg.states.done;\n    fechaReagenda = null;\n  }\n\n  // 3. Asignar valores al item\n  item.json.nomenclatura = nomenclatura;\n  item.json.motivo = motivo;\n  item.json.id_nomenclatura = idNomenclatura || null;\n  item.json.estado_flujo = estadoFlujo;\n  item.json.status_sugerido = statusSugerido;\n  item.json.fecha_reagenda = fechaReagenda;\n\n  // 4. Generar query SQL\n  const raw = String(item.json.id_negocio ?? '').trim();\n  if (!raw) {\n    item.json.query = `SELECT 'skip_no_id_negocio' AS status`;\n  } else {\n    const idNegocio = raw.replace(/'/g, \"''\");\n    const estado = String(estadoFlujo).replace(/'/g, \"''\");\n    const freag = fechaReagenda ? `'${String(fechaReagenda).replace(/'/g, \"''\")}'::timestamptz` : 'NULL';\n    item.json.query = `\n    UPDATE ${cfg.db.schema}.${cfg.db.table}\n    SET estado_flujo = '${estado}',\n        fecha_reagenda = ${freag},\n        updated_at = now()\n    WHERE id_negocio = '${idNegocio}'\n    RETURNING *;\n  `;\n  }\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -34940,
        6160
      ],
      "id": "1b2f9882-4745-4638-a378-8b2c1136c571",
      "name": "CLASIFICA ESTADO CIERRE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "map-id-negocio",
              "name": "id_negocio",
              "value": "={{ $json.id_negocio || $json.metadata?.id_negocio || null }}",
              "type": "string"
            },
            {
              "id": "map-cedula",
              "name": "cedula",
              "value": "={{ $json.cedula || $json.metadata?.cedula || null }}",
              "type": "string"
            },
            {
              "id": "map-id-interno-negocio",
              "name": "id_interno_negocio",
              "value": "={{ $json.id_interno_negocio || $json.metadata?.id_interno_negocio || null }}",
              "type": "string"
            },
            {
              "id": "map-id-llamada",
              "name": "id_llamada",
              "value": "={{ $json.id_llamada || null }}",
              "type": "string"
            },
            {
              "id": "map-fecha-gestion",
              "name": "fecha_gestion",
              "value": "={{ (() => { const x = $json.endedAt; if (!x) return null; const d = new Date(x); if (isNaN(d.getTime())) return null; return d.toISOString().slice(0, 10); })() }}",
              "type": "string"
            },
            {
              "id": "map-hora-gestion",
              "name": "hora_gestion",
              "value": "={{ (() => { const x = $json.endedAt; if (!x) return null; const d = new Date(x); if (isNaN(d.getTime())) return null; return d.toLocaleTimeString('en-GB', { timeZone: 'America/Guayaquil', hour12: false }).slice(0,8); })() }}",
              "type": "string"
            },
            {
              "id": "map-nomenclatura",
              "name": "id_nomenclatura",
              "value": "={{ $json.id_nomenclatura || $json.nomenclatura || $json.codigo_respuesta || null }}",
              "type": "string"
            },
            {
              "id": "map-motivo",
              "name": "id_motivo",
              "value": "={{ $json.motivo || null }}",
              "type": "string"
            },
            {
              "id": "map-sentimiento",
              "name": "sentimiento",
              "value": "={{ $json.sentimiento || null }}",
              "type": "string"
            },
            {
              "id": "map-transcripcion",
              "name": "transcripcion_llamada",
              "value": "={{ $json.transcript || null }}",
              "type": "string"
            },
            {
              "id": "map-resumen",
              "name": "resumen_llamada",
              "value": "={{ $json.resumen_llamada || $json.summary || null }}",
              "type": "string"
            },
            {
              "id": "map-audio",
              "name": "link_audio_vapi",
              "value": "={{ $json.recordingUrl || null }}",
              "type": "string"
            },
            {
              "id": "map-resultado",
              "name": "ultimo_resultado_llamada",
              "value": "={{ $json.endedReason || null }}",
              "type": "string"
            },
            {
              "id": "map-es-familiar",
              "name": "es_familiar",
              "value": "={{ $json.es_familiar || null }}",
              "type": "string"
            },
            {
              "id": "map-duracion",
              "name": "duracion_llamada",
              "value": "={{ $json.durationSeconds || null }}",
              "type": "number"
            },
            {
              "id": "map-hora-inicio",
              "name": "hora_inicio_llamada",
              "value": "={{ $json.startedAt || null }}",
              "type": "string"
            },
            {
              "id": "map-hora-fin",
              "name": "hora_fin_llamada",
              "value": "={{ $json.endedAt || null }}",
              "type": "string"
            },
            {
              "id": "map-interes-llamada-ejecutivo",
              "name": "interes_llamada_ejecutivo",
              "value": "={{ $json.interes_llamada_ejecutivo || null }}",
              "type": "string"
            },
            {
              "id": "map-contactoalo",
              "name": "contactoalo",
              "value": "={{ $json.contactoalo || null }}",
              "type": "string"
            },
            {
              "id": "map-contactoefectivo",
              "name": "contactoefectivo",
              "value": "={{ $json.contactoefectivo || null }}",
              "type": "string"
            },
            {
              "id": "map-numero-telefono",
              "name": "numero_telefono",
              "value": "={{ $json.customer_number || $json.numero_telefono || null }}",
              "type": "string"
            },
            {
              "id": "map-status-sugerido",
              "name": "status_sugerido",
              "value": "={{ $json.status_sugerido || 'FINAL' }}",
              "type": "string"
            },
            {
              "id": "map-estado-flujo",
              "name": "estado_flujo",
              "value": "={{ $json.estado_flujo }}",
              "type": "string"
            },
            {
              "id": "map-snapshot-estado",
              "name": "snapshot_estado_flujo",
              "value": "={{ $json.estado_flujo }}",
              "type": "string"
            },
            {
              "id": "map-nombre-corto-campania",
              "name": "nombre_corto_campania",
              "value": "={{ $json.metadata?.nombre_corto_campania || $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.altiva.nombreCampania || '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -34720,
        6480
      ],
      "id": "1e97c455-0e54-45c3-9ba6-ec7257e1d809",
      "name": "MAPEA CAMPOS CIERRE UTPL"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const raw = String(item.json.id_negocio ?? '').trim();\n  if (!raw) {\n    item.json.query = `SELECT 'skip_no_id_negocio' AS status`;\n    return item;\n  }\n  const id_negocio = raw.replace(/'/g, \"''\");\n  const estado = String(item.json.estado_flujo || cfg.states.done).replace(/'/g, \"''\");\n  item.json.query = `\n    UPDATE ${cfg.db.schema}.${cfg.db.table}\n    SET estado_flujo = '${estado}',\n        updated_at = now()\n    WHERE id_negocio = '${id_negocio}'\n    RETURNING *;\n  `;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -34440,
        6480
      ],
      "id": "1179d5be-df2a-4bd3-aeee-b1c1a57a657c",
      "name": "GENERAR QUERY ACTUALIZA"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -34200,
        6320
      ],
      "id": "211e4ad3-a205-4761-8514-b9990f3c3fa7",
      "name": "ACTUALIZA REGISTRO UTPL",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "utpl_llamadas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_llamada": "={{ $json.id_llamada || null }}",
            "cedula": "={{ String($json.cedula || '') }}",
            "fecha_gestion": "={{ $json.fecha_gestion || null }}",
            "hora_gestion": "={{ $json.hora_gestion || null }}",
            "id_nomenclatura": "={{ $json.id_nomenclatura || null }}",
            "id_motivo": "={{ $json.id_motivo || null }}",
            "sentimiento": "={{ $json.sentimiento || null }}",
            "transcripcion_llamada": "={{ $json.transcripcion_llamada || null }}",
            "resumen_llamada": "={{ $json.resumen_llamada || null }}",
            "link_audio_vapi": "={{ $json.link_audio_vapi || null }}",
            "ultimo_resultado_llamada": "={{ $json.ultimo_resultado_llamada || null }}",
            "es_familiar": "={{ $json.es_familiar || null }}",
            "duracion_llamada": "={{ $json.duracion_llamada || null }}",
            "hora_inicio_llamada": "={{ $json.hora_inicio_llamada || null }}",
            "hora_fin_llamada": "={{ $json.hora_fin_llamada || null }}",
            "interes_llamada_ejecutivo": "={{ $json.interes_llamada_ejecutivo || null }}",
            "contactoalo": "={{ $json.contactoalo || null }}",
            "contactoefectivo": "={{ $json.contactoefectivo || null }}",
            "numero_telefono": "={{ $json.numero_telefono || null }}"
          },
          "matchingColumns": [
            "id_llamada"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_llamada",
              "displayName": "id_llamada",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cedula",
              "displayName": "cedula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_gestion",
              "displayName": "fecha_gestion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "hora_gestion",
              "displayName": "hora_gestion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "id_nomenclatura",
              "displayName": "id_nomenclatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "id_motivo",
              "displayName": "id_motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sentimiento",
              "displayName": "sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "transcripcion_llamada",
              "displayName": "transcripcion_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "resumen_llamada",
              "displayName": "resumen_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "link_audio_vapi",
              "displayName": "link_audio_vapi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ultimo_resultado_llamada",
              "displayName": "ultimo_resultado_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "es_familiar",
              "displayName": "es_familiar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "duracion_llamada",
              "displayName": "duracion_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "hora_inicio_llamada",
              "displayName": "hora_inicio_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "hora_fin_llamada",
              "displayName": "hora_fin_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "interes_llamada_ejecutivo",
              "displayName": "interes_llamada_ejecutivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "contactoalo",
              "displayName": "contactoalo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "contactoefectivo",
              "displayName": "contactoefectivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "numero_telefono",
              "displayName": "numero_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -33880,
        6560
      ],
      "id": "735a5ca4-16b9-4f9a-8dd9-a5ef92b28cfd",
      "name": "INSERTA EN LLAMADAS UTPL",
      "retryOnFail": true,
      "maxTries": 3,
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ (() => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const raw = String($json.cedula ?? '').trim();\n  if (!raw) return `SELECT 'skip_fallback_sin_id_negocio' AS status`;\n\n  const id_negocio = raw.replace(/'/g, \"''\");\n  const snapEstado = String($json.snapshot_estado_flujo ?? cfg.states.pending ?? 'PENDIENTE').replace(/'/g, \"''\");\n\n  return `\n    UPDATE ${cfg.db.schema}.${cfg.db.table}\n    SET estado_flujo = '${snapEstado}',\n        updated_at = now()\n    WHERE id_negocio = '${cedula}'\n    RETURNING *;\n  `;\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -33560,
        6580
      ],
      "id": "7caf6db6-f240-40e2-938a-50c189c7602e",
      "name": "FALLBACK RESTORE CIERRE",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "562b3415-fd96-4ddd-bef1-f36b11e4f63e",
      "name": "IGNORAR EVENTO",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -34060,
        7160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "crm_nom_trigger",
              "leftValue": "={{ String($json.id_nomenclatura || '').trim().toUpperCase() }}",
              "rightValue": "NIN",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "crm_interes_no",
              "leftValue": "={{ String($json.interes_llamada_ejecutivo || '').toLowerCase().trim() }}",
              "rightValue": "no",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -34420,
        6820
      ],
      "id": "ded0055b-b45b-453c-af6a-3138d0e66566",
      "name": "CONDICION ENVIO CRM UTPL"
    },
    {
      "parameters": {
        "jsCode": "const motivosNIN = [\n  { keys: 'equivocado,wrong,error numero,no es,no lo conozco', id: 'ec04d345-b217-43b8-886c-483caaef1207', name: 'NIN - Equivocado' },\n  { keys: 'fax,empresa,oficina,centralita,ivr', id: 'ff2dbd7a-febb-418e-b5f7-a79b21630d4a', name: 'NIN - IVR De Empresa' },\n  { keys: 'cuenta propia,por su cuenta,solo,centro universitario,yo mismo', id: '6ec7dafd-36c9-4ac7-8fa4-aaf1d5e655ff', name: 'NIN - Continuara por si solo' },\n  { keys: 'fuera del pais,extranjero,viaje,viajara,se va', id: '9bb49857-d693-455f-a719-7da52a3c267f', name: 'NIN - Titular Esta Fuera Del Pais' },\n  { keys: 'no llame,no moleste,no llamar,tercero,familiar pide,no vuelva a llamar', id: 'eb503640-7ac4-4296-be4d-19925e5b5c8f', name: 'NIN - Tercero o Familiar Pide No Llamar' },\n  { keys: 'dinero,costo,caro,pagar,economico,no tiene,no puedo pagar,presupuesto', id: 'db9d6ca8-d46a-429b-a54c-ea911f60dc1d', name: 'NIN - Neg-Costos-No Tiene Dinero' },\n  { keys: 'salud,enfermo,enfermedad,medico,hospital,discapacidad,accidente', id: 'b4bac679-2b71-4b0e-bdc3-5ffaac245d4a', name: 'NIN - Neg-Pers-Problemas De Salud' },\n  { keys: 'para un familiar,para mi hijo,para mi hermano,informacion para,no es para mi', id: '7157a907-42d1-4ba1-a302-bc8c6fe7757d', name: 'NIN - Informacion Para Un Familiar' },\n  { keys: 'bachiller,colegio,terminando,no se ha graduado,no ha terminado', id: '946823bc-a033-47ab-9461-56bbe36ba649', name: 'NIN - Neg-Pers-Aun No Es Bachiller' },\n  { keys: 'fallecio,fallecido,murio,muerto', id: 'fca8fec9-9636-46e8-b08c-51f95a1861f9', name: 'NIN - Negativa-Pers-Titular Fallecido' },\n  { keys: 'estudiante continuo,ya estudio,ya estudia,segundo ciclo,ya es alumno', id: '7b45b4fe-69f6-4b74-b14a-39b16f7df70f', name: 'NIN - Estudiante Utpl 2Do. En Adelante' },\n  { keys: 'trabaja en utpl,empleado utpl', id: 'ed5610f2-00e8-4284-b62e-0becd4b25e9a', name: 'NIN - Negativa-Pers-Trabaja En La Utpl' },\n  { keys: 'maestria,posgrado,postgrado', id: '2efa7cc1-9785-401b-b13e-b133c42ae62e', name: 'NIN - Neg-Academicos-Interesado En Maestria' },\n  { keys: 'no solicite,no pedi informacion,no he solicitado,nunca pedi', id: '491f0fd2-b01e-43fa-b0e7-8e4a59e1abb9', name: 'NIN - Indica Que No Ha Solicitado Informacion' },\n  { keys: 'mala experiencia,mal servicio,queja,mal trato,no me ayudaron,mala atencion', id: '2ba903ac-d1f4-43f3-89c9-1adc67b373c0', name: 'NIN - Neg-Academicos-Mala Experiencia Con Utpl' },\n  { keys: 'no tengo tiempo,ocupado,no puedo estudiar,falta de tiempo', id: '5fadfbe1-909d-44e1-84d7-63a8a184cc7f', name: 'NIN - Neg-Tiempo-No Tiene Tiempo Para Estudiar' },\n  { keys: 'presencial,no en linea,no modalidad en linea,no me gusta en linea,quiero presencial', id: '6ab24c69-4728-48d2-8950-36d6fd47627d', name: 'NIN - No Esta Interesado En Modalidad En Linea' },\n  { keys: 'otra universidad,ya estudio en,estoy en otra,me matricule en otra', id: '7b7283a7-dd21-4601-962d-7f867f0dcb3a', name: 'NIN - Neg-Academicos-Estudia Ahora En Otra Univ' },\n  { keys: 'no ofertan,no tiene la carrera,carrera que quiero,no esta la carrera', id: 'f6828cdb-b9c4-4e4b-a3f0-cc8e372c232f', name: 'NIN - Neg-Academicos-Carreras Ofertads No Desea' },\n  { keys: 'cursos,taller,formacion permanente,seminario', id: 'ee5da155-3a0f-41fd-82e5-72a99d3f19d9', name: 'NIN - Neg-Academicos-Interesado Cursos Form. Perm' },\n  { keys: 'proximo periodo,siguiente ciclo,despues,mas adelante,otro periodo,en otro momento', id: 'c941a32d-0909-46f4-a72b-ca94adbde489', name: 'NIN - Interesado Proximo periodo' },\n  { keys: 'no localizable,no contesta,no se pudo contactar,no responde', id: 'fa9b4696-95d1-4b4a-906f-4b0b7b7f155b', name: 'NIN - No Localizable' }\n];\n\nreturn items.map(item => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const nom = String(item.json.id_nomenclatura || '').trim().toUpperCase();\n  const texto = (String(item.json.resumen_llamada || '') + ' ' + String(item.json.transcripcion_llamada || '')).toLowerCase();\n\n  const defaultMotivo = { id: 'f6cf9978-e0e0-4cd9-9605-3e4baca78289', name: 'NIN - No Desea Continuar Con Proceso Matricula' };\n  let selected = defaultMotivo;\n  const dealstage = cfg.crmUtpl.dealstage[nom] || cfg.crmUtpl.dealstage.NIN;\n\n  if (nom === 'NIN') {\n    selected = { id: '6ab24c69-4728-48d2-8950-36d6fd47627d', name: 'NIN - No Esta Interesado En Modalidad En Linea' };\n  } else if (nom === 'NC') {\n    selected = { id: '569d4307-4da7-45e0-9c5a-7530a99aca5d', name: 'NC - No Contacto' };\n  }\n\n  item.json.dealstage = dealstage;\n  item.json.hs_call_disposition = selected.id;\n  item.json.sales_stage_detail = selected.name;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -33940,
        6820
      ],
      "id": "b9939612-9609-4ec4-ad95-66c5469029af",
      "name": "MAPEA MOTIVO CRM UTPL"
    },
    {
      "parameters": {
        "jsCode": "const escapeXml = function(str) {\n  return String(str || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;').replace(/'/g, '&apos;');\n};\n\nreturn items.map(item => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n\n  const codigo_negocio = String(item.json.id_negocio || '').trim();\n  const dealstage = String(item.json.dealstage || '');\n  const hs_call_disposition = String(item.json.hs_call_disposition || '');\n  const hs_call_body = String(item.json.resumen_llamada || '').substring(0, 500);\n  const agent_name = cfg.crmUtpl.agentName;\n  const hs_call_duration = String(item.json.duracion_llamada || '0');\n  const sales_stage_detail = String(item.json.sales_stage_detail || '');\n  const commitment_date = (item.json.fecha_reagenda || '').toString().slice(0, 10) || '';\n  const dealid = String(item.json.id_interno_negocio || '');\n  const hs_timestamp = String(item.json.fecha_gestion || '') + ' ' + String(item.json.hora_gestion || '');\n  const scheduling_date = '';\n\n  item.json.soapXml = `<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap:Body>\n    <RegistrarLLamada xmlns=\"http://tempuri.org/\">\n      <codigo_negocio>${escapeXml(codigo_negocio)}</codigo_negocio>\n      <dealstage>${escapeXml(dealstage)}</dealstage>\n      <hs_call_disposition>${escapeXml(hs_call_disposition)}</hs_call_disposition>\n      <hs_call_body>${escapeXml(hs_call_body)}</hs_call_body>\n      <agent_name>${escapeXml(agent_name)}</agent_name>\n      <hs_call_duration>${escapeXml(hs_call_duration)}</hs_call_duration>\n      <sales_stage_detail>${escapeXml(sales_stage_detail)}</sales_stage_detail>\n      <commitment_date>${escapeXml(commitment_date)}</commitment_date>\n      <dealid>${escapeXml(dealid)}</dealid>\n      <hs_timestamp>${escapeXml(hs_timestamp)}</hs_timestamp>\n      <scheduling_date>${escapeXml(scheduling_date)}</scheduling_date>\n    </RegistrarLLamada>\n  </soap:Body>\n</soap:Envelope>`;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -33700,
        6820
      ],
      "id": "3cc62362-3961-45b9-b5e4-7d0b962d5879",
      "name": "PREPARA SOAP XML UTPL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.crmUtpl.wsUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/xml; charset=utf-8"
            },
            {
              "name": "SOAPAction",
              "value": "={{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.crmUtpl.soapAction }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml; charset=utf-8",
        "body": "={{ $json.soapXml }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -33460,
        6820
      ],
      "id": "23c2ecc9-e0f6-4d23-a8e0-4bc85644e909",
      "name": "ENVIA A CRM UTPL",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const body = String(item.json.response || item.json.body || '');\n  const hc = body.match(/<httpCode>(\\d+)<\\/httpCode>/);\n  const ir = body.match(/<idreturn>([^<]+)<\\/idreturn>/);\n  const m1 = body.match(/<messagews1>([^<]*)<\\/messagews1>/);\n  const m2 = body.match(/<messagews2>([^<]*)<\\/messagews2>/);\n  const m3 = body.match(/<messagews3>([^<]*)<\\/messagews3>/);\n\n  item.json.crmHttpCode = hc ? hc[1] : null;\n  item.json.crmIdReturn = ir ? ir[1] : null;\n  item.json.crmSuccess = item.json.crmHttpCode === '201';\n\n  if (!item.json.crmSuccess) {\n    item.json.crmError = [m1 ? m1[1] : null, m2 ? m2[1] : null, m3 ? m3[1] : null].filter(Boolean).join(' | ');\n  }\n\n  const esc = function(s) { return String(s || '').replace(/'/g, \"''\"); };\n  item.json.crmInsertQuery = `INSERT INTO public.utpl_crm (id_negocio, flujo_origen, nomenclatura, dealstage, hs_call_disposition, sales_stage_detail, agent_name, hs_call_duration, hs_call_body, commitment_date, dealid, hs_timestamp, scheduling_date, soap_xml, http_code, id_return, error_messages) VALUES ('${esc(item.json.id_negocio)}', 'CierreLlamadas', '${esc(item.json.id_nomenclatura)}', '${esc(item.json.dealstage)}', '${esc(item.json.hs_call_disposition)}', '${esc(item.json.sales_stage_detail)}', '${esc(item.json.crmAgent || 'ARIA UTPL')}', '${esc(item.json.duracion_llamada)}', '${esc((item.json.resumen_llamada || '').substring(0, 500))}', '${esc((item.json.fecha_reagenda || '').toString().slice(0, 10))}', '${esc(item.json.id_interno_negocio)}', '${esc(item.json.fecha_gestion + ' ' + item.json.hora_gestion)}', NULL, '${esc(item.json.soapXml)}', '${esc(item.json.crmHttpCode)}', '${esc(item.json.crmIdReturn)}', '${esc(item.json.crmError)}')`;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -33220,
        6820
      ],
      "id": "aa8c4625-c429-423f-8198-2735d9e8b649",
      "name": "PROCESA RESPUESTA CRM UTPL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.crmInsertQuery }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -32980,
        6820
      ],
      "id": "a42d9148-2c5b-459d-9d23-c170ace596f2",
      "name": "INSERTA EN CRM UTPL",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "audio_link_exists",
              "leftValue": "={{ $json.link_audio_vapi || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -33660,
        7180
      ],
      "id": "24403ff0-aa95-4415-a985-3403775da8ba",
      "name": "CONDICION AUDIO"
    },
    {
      "parameters": {
        "url": "={{ $json.link_audio_vapi }}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -33420,
        7180
      ],
      "id": "05870cfd-fa70-40a6-8bf0-802c78ae7841",
      "name": "DESCARGAR AUDIO",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const url = String(item.json.link_audio_vapi || '');\n  item.json.ext = url.toLowerCase().includes('.wav') ? 'wav' : 'mp3';\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -33180,
        7180
      ],
      "id": "49769d1e-d6b0-4ad9-afbd-e3a6bea5c3e1",
      "name": "PROCESAR AUDIO"
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "upload",
        "path": "={{ '/UTPL/llamadas/' + String($json.fecha_gestion || '').replace(/-/g, '') + '/' + ($json.id_llamada || $json.id_negocio || 'unknown') + '.' + ($json.ext || 'mp3') }}"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -32940,
        7180
      ],
      "id": "be5ac6ad-bb3c-421e-9e8a-bab1b3627285",
      "name": "SUBIR AUDIO SFTP",
      "credentials": {
        "sftp": {
          "id": "vEofEOfYOxdhgSvj",
          "name": "SFTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "altiva_estado_finalizado",
              "leftValue": "={{ $json.estado_flujo }}",
              "rightValue": "FINALIZADO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -34520,
        6180
      ],
      "id": "6ad27189-e211-4b0c-8a41-42f3848b4198",
      "name": "CONDICION ENVIO ALTIVA"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value, expires_at FROM public.utpl_config WHERE key = 'altiva_token'\nUNION ALL\nSELECT NULL::text, NULL::timestamptz\nWHERE NOT EXISTS (SELECT 1 FROM public.utpl_config WHERE key = 'altiva_token');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -34300,
        6060
      ],
      "id": "e5765e91-850e-42df-bf8a-b3afe601c7b5",
      "name": "LEE TOKEN ALTIVA",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const tokenRow = item.json;\n  const token = tokenRow.value || null;\n  const expiresAt = tokenRow.expires_at || null;\n\n  let needsRefresh = true;\n  if (token && expiresAt) {\n    if (new Date(expiresAt) > new Date()) {\n      needsRefresh = false;\n      item.json.altivaToken = token;\n    }\n  }\n\n  item.json.tokenNeedsRefresh = needsRefresh;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -34060,
        6060
      ],
      "id": "127652a4-b577-45f3-b3ee-422282445b14",
      "name": "DECIDE FLUJO TOKEN"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "altiva_needs_refresh",
              "leftValue": "={{ $json.tokenNeedsRefresh }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -33820,
        6060
      ],
      "id": "e384c24b-d20d-4bcc-a425-d6a8ff25c4ea",
      "name": "NECESITA REFRESH TOKEN"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.altiva.urlBase + '/api/v1/auth/token' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ grant_type: 'client_credentials', client_id: $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.altiva.clientId, client_secret: $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.altiva.clientSecret }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -33500,
        5960
      ],
      "id": "380ea65a-d34c-4708-85f4-ab50426554c9",
      "name": "SOLICITA TOKEN ALTIVA",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ (() => { const t = String($json.data?.access_token || '').replace(/'/g, \"''\"); const ex = Number($json.data?.expires_in || 86400); const exp = new Date(Date.now() + ex * 1000).toISOString(); return `INSERT INTO public.utpl_config (key, value, expires_at, updated_at) VALUES ('altiva_token', '${t}', '${exp}', now()) ON CONFLICT (key) DO UPDATE SET value = '${t}', expires_at = '${exp}', updated_at = now() RETURNING *;`; })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -33260,
        5960
      ],
      "id": "a999d0f8-4227-4517-8fe0-1f504b2f3ece",
      "name": "GUARDA TOKEN ALTIVA",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "c3a4c88b-c854-4394-a697-7837425b9d3c",
      "name": "JOIN ALTIVA TOKEN",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -33400,
        6300
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const mapeoItem = $items('MAPEA CAMPOS CIERRE UTPL', 0, 0)[0].json;\n  const nom = String(mapeoItem.id_nomenclatura || '').trim().toUpperCase();\n  const interes = String(mapeoItem.interes_llamada_ejecutivo || '').toLowerCase().trim();\n\n  let nodo;\n  if (interes === 'sí' || interes === 'si' || interes === 'yes') {\n    nodo = '2';\n  } else if (interes === 'no') {\n    nodo = '1';\n  } else {\n    nodo = cfg.altiva.nodoMapping[nom] || '1';\n  }\n\n  item.json.altivaBody = {\n    nuic: String(mapeoItem.id_interno_negocio || ''),\n    nombre_corto_campania: String(mapeoItem.nombre_corto_campania || cfg.altiva.nombreCampania || ''),\n    nodo: nodo\n  };\n\n  const token = item.json.altivaToken || (item.json.data && item.json.data.access_token) || item.json.value || '';\n  if (!item.json.altivaToken && item.json.data && item.json.data.access_token) {\n    item.json.altivaToken = String(item.json.data.access_token);\n  } else if (!item.json.altivaToken && item.json.value) {\n    item.json.altivaToken = String(item.json.value);\n  }\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -33160,
        6300
      ],
      "id": "ddb3e7ea-f8ff-43a6-93cf-018127e7ba01",
      "name": "PREPARA CARGA ALTIVA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.altiva.urlBase + '/api/v1/altiva/nodo/actualizar' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.altivaToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.altivaBody) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32920,
        6300
      ],
      "id": "cb565dff-9f3b-4378-890b-82a074f7a49f",
      "name": "ACTUALIZA NODO ALTIVA",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const body = item.json.response || item.json;\n  let status = null, message = '';\n  try {\n    const parsed = typeof body === 'string' ? JSON.parse(body) : body;\n    status = parsed.estado || null;\n    message = parsed.mensaje || '';\n  } catch (e) {\n    message = String(body || '').substring(0, 200);\n  }\n\n  item.json.altivaStatus = status;\n  item.json.altivaMessage = message;\n  item.json.altivaSuccess = status === 200;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32680,
        6300
      ],
      "id": "c253a415-a655-4613-ac0b-fc731b8763b6",
      "name": "PROCESA RESPUESTA ALTIVA"
    },
    {
      "parameters": {
        "jsCode": "const token = $json.data.access_token;\n\nreturn [{\n  json: {\n    altivaBody: {\n      nuic: '0953475131',\n      nombre_corto_campania: 'utpl_integracion',\n      nodo: '2'\n    },\n    altivaToken: String(token)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32260,
        5840
      ],
      "id": "4f57196c-df72-42db-9e1b-8a444f348798",
      "name": "PREPARA CARGA ALTIVA1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.10.238:91/api/v1/altiva/nodo/actualizar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.altivaToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.altivaBody) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32020,
        5840
      ],
      "id": "290af579-3999-4fd6-bb33-49df5ac0e755",
      "name": "ACTUALIZA NODO ALTIVA1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const escapeXml = function(str) {\n  return String(str || '')\n    .replace(/&/g, '&')\n    .replace(/</g, '<')\n    .replace(/>/g, '>')\n    .replace(/\"/g, '\"')\n    .replace(/'/g, \"'\");\n};\n\nreturn items.map(item => {\n  const codigo_negocio = String(item.json.codigo_negocio || '').trim();\n  const dealstage = String(item.json.dealstage || '');\n  const hs_call_disposition = String(item.json.hs_call_disposition || '');\n  const hs_call_body = String(item.json.hs_call_body || '').substring(0, 500);\n  const agent_name = String(item.json.agent_name || 'ARIA UTPL');\n  const hs_call_duration = String(item.json.hs_call_duration || '0');\n  const sales_stage_detail = String(item.json.sales_stage_detail || '');\n  const commitment_date = String(item.json.commitment_date || '');\n  const dealid = String(item.json.dealid || '');\n  const hs_timestamp = String(item.json.hs_timestamp || '');\n  const scheduling_date = String(item.json.scheduling_date || '');\n\n  item.json.soapXml = `<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap:Body>\n    <RegistrarLLamada xmlns=\"http://tempuri.org/\">\n      <codigo_negocio>${escapeXml(codigo_negocio)}</codigo_negocio>\n      <dealstage>${escapeXml(dealstage)}</dealstage>\n      <hs_call_disposition>${escapeXml(hs_call_disposition)}</hs_call_disposition>\n      <hs_call_body>${escapeXml(hs_call_body)}</hs_call_body>\n      <agent_name>${escapeXml(agent_name)}</agent_name>\n      <hs_call_duration>${escapeXml(hs_call_duration)}</hs_call_duration>\n      <sales_stage_detail>${escapeXml(sales_stage_detail)}</sales_stage_detail>\n      <commitment_date>${escapeXml(commitment_date)}</commitment_date>\n      <dealid>${escapeXml(dealid)}</dealid>\n      <hs_timestamp>${escapeXml(hs_timestamp)}</hs_timestamp>\n      <scheduling_date>${escapeXml(scheduling_date)}</scheduling_date>\n    </RegistrarLLamada>\n  </soap:Body>\n</soap:Envelope>`;\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32140,
        6100
      ],
      "id": "aace8cbd-fcaf-49ed-b32c-499c49a2c234",
      "name": "PREPARA SOAP XML UTPL1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.10.112/WSUtpl/ServiceUtpl.asmx",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/xml; charset=utf-8"
            },
            {
              "name": "SOAPAction",
              "value": "http://tempuri.org/RegistrarLLamada"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml; charset=utf-8",
        "body": "={{ $json.soapXml }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -31900,
        6100
      ],
      "id": "168ff7be-1408-4296-b1b8-51f854768bbc",
      "name": "ENVIA A CRM UTPL1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.10.238:91/api/v1/auth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ grant_type: 'client_credentials', client_id: '7', client_secret: 'ug7wMESTpOPPmdDC3KoEyYpVXskcOqRWnfHFZm8X' }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32500,
        5840
      ],
      "id": "9c584367-1dfa-4f31-8b00-1b5b2dc39f8a",
      "name": "PRUEBA - SOLICITA TOKEN ALTIVA1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const motivosNIN = [\n  { keys: 'equivocado,wrong,error numero,no es,no lo conozco', id: 'ec04d345-b217-43b8-886c-483caaef1207', name: 'NIN - Equivocado' },\n  { keys: 'fax,empresa,oficina,centralita,ivr', id: 'ff2dbd7a-febb-418e-b5f7-a79b21630d4a', name: 'NIN - IVR De Empresa' },\n  { keys: 'cuenta propia,por su cuenta,solo,centro universitario,yo mismo', id: '6ec7dafd-36c9-4ac7-8fa4-aaf1d5e655ff', name: 'NIN - Continuara por si solo' },\n  { keys: 'fuera del pais,extranjero,viaje,viajara,se va', id: '9bb49857-d693-455f-a719-7da52a3c267f', name: 'NIN - Titular Esta Fuera Del Pais' },\n  { keys: 'no llame,no moleste,no llamar,tercero,familiar pide,no vuelva a llamar', id: 'eb503640-7ac4-4296-be4d-19925e5b5c8f', name: 'NIN - Tercero o Familiar Pide No Llamar' },\n  { keys: 'dinero,costo,caro,pagar,economico,no tiene,no puedo pagar,presupuesto', id: 'db9d6ca8-d46a-429b-a54c-ea911f60dc1d', name: 'NIN - Neg-Costos-No Tiene Dinero' },\n  { keys: 'salud,enfermo,enfermedad,medico,hospital,discapacidad,accidente', id: 'b4bac679-2b71-4b0e-bdc3-5ffaac245d4a', name: 'NIN - Neg-Pers-Problemas De Salud' },\n  { keys: 'para un familiar,para mi hijo,para mi hermano,informacion para,no es para mi', id: '7157a907-42d1-4ba1-a302-bc8c6fe7757d', name: 'NIN - Informacion Para Un Familiar' },\n  { keys: 'bachiller,colegio,terminando,no se ha graduado,no ha terminado', id: '946823bc-a033-47ab-9461-56bbe36ba649', name: 'NIN - Neg-Pers-Aun No Es Bachiller' },\n  { keys: 'fallecio,fallecido,murio,muerto', id: 'fca8fec9-9636-46e8-b08c-51f95a1861f9', name: 'NIN - Negativa-Pers-Titular Fallecido' },\n  { keys: 'estudiante continuo,ya estudio,ya estudia,segundo ciclo,ya es alumno', id: '7b45b4fe-69f6-4b74-b14a-39b16f7df70f', name: 'NIN - Estudiante Utpl 2Do. En Adelante' },\n  { keys: 'trabaja en utpl,empleado utpl', id: 'ed5610f2-00e8-4284-b62e-0becd4b25e9a', name: 'NIN - Negativa-Pers-Trabaja En La Utpl' },\n  { keys: 'maestria,posgrado,postgrado', id: '2efa7cc1-9785-401b-b13e-b133c42ae62e', name: 'NIN - Neg-Academicos-Interesado En Maestria' },\n  { keys: 'no solicite,no pedi informacion,no he solicitado,nunca pedi', id: '491f0fd2-b01e-43fa-b0e7-8e4a59e1abb9', name: 'NIN - Indica Que No Ha Solicitado Informacion' },\n  { keys: 'mala experiencia,mal servicio,queja,mal trato,no me ayudaron,mala atencion', id: '2ba903ac-d1f4-43f3-89c9-1adc67b373c0', name: 'NIN - Neg-Academicos-Mala Experiencia Con Utpl' },\n  { keys: 'no tengo tiempo,ocupado,no puedo estudiar,falta de tiempo', id: '5fadfbe1-909d-44e1-84d7-63a8a184cc7f', name: 'NIN - Neg-Tiempo-No Tiene Tiempo Para Estudiar' },\n  { keys: 'presencial,no en linea,no modalidad en linea,no me gusta en linea,quiero presencial', id: '6ab24c69-4728-48d2-8950-36d6fd47627d', name: 'NIN - No Esta Interesado En Modalidad En Linea' },\n  { keys: 'otra universidad,ya estudio en,estoy en otra,me matricule en otra', id: '7b7283a7-dd21-4601-962d-7f867f0dcb3a', name: 'NIN - Neg-Academicos-Estudia Ahora En Otra Univ' },\n  { keys: 'no ofertan,no tiene la carrera,carrera que quiero,no esta la carrera', id: 'f6828cdb-b9c4-4e4b-a3f0-cc8e372c232f', name: 'NIN - Neg-Academicos-Carreras Ofertads No Desea' },\n  { keys: 'cursos,taller,formacion permanente,seminario', id: 'ee5da155-3a0f-41fd-82e5-72a99d3f19d9', name: 'NIN - Neg-Academicos-Interesado Cursos Form. Perm' },\n  { keys: 'proximo periodo,siguiente ciclo,despues,mas adelante,otro periodo,en otro momento', id: 'c941a32d-0909-46f4-a72b-ca94adbde489', name: 'NIN - Interesado Proximo periodo' },\n  { keys: 'no localizable,no contesta,no se pudo contactar,no responde', id: 'fa9b4696-95d1-4b4a-906f-4b0b7b7f155b', name: 'NIN - No Localizable' }\n];\n\nreturn [{\n  json: {\n    codigo_negocio: '1104805617.AED6.202564',\n    dealstage: '1008735100',\n    hs_call_disposition: '17b47fee-58de-441e-a44c-c6300d46f273',\n    hs_call_body: 'pruebas',\n    agent_name: 'VOZ IA',\n    hs_call_duration: 400,\n    sales_stage_detail: 'IND - Acept-Costos-Gestionando Beca',\n    commitment_date: '2025-06-23',\n    dealid: '34739917403',\n    hs_timestamp: '2026-06-09 10:30:00',\n    scheduling_date: ''\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32380,
        6100
      ],
      "id": "91183a89-d5b4-46e1-a945-3b4721c24993",
      "name": "PRUEBA - MAPEA MOTIVO CRM UTPL1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Cierre VAPI UTPL": {
      "main": [
        [
          {
            "node": "CONFIG INICIAL UTPL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG INICIAL UTPL": {
      "main": [
        [
          {
            "node": "NORMALIZA EVENTO CIERRE UTPL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NORMALIZA EVENTO CIERRE UTPL": {
      "main": [
        [
          {
            "node": "ES EVENTO CIERRE VALIDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ES EVENTO CIERRE VALIDO": {
      "main": [
        [
          {
            "node": "EXTRAE STRUCTURED OUTPUTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IGNORAR EVENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRAE STRUCTURED OUTPUTS": {
      "main": [
        [
          {
            "node": "CLASIFICA ESTADO CIERRE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLASIFICA ESTADO CIERRE": {
      "main": [
        [
          {
            "node": "MAPEA CAMPOS CIERRE UTPL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLASIFICA ESTADO CIERRE (backup)": {
      "main": [
        [
          {
            "node": "MAPEA CAMPOS CIERRE UTPL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAPEA CAMPOS CIERRE UTPL": {
      "main": [
        [
          {
            "node": "ACTUALIZA REGISTRO UTPL",
            "type": "main",
            "index": 0
          },
          {
            "node": "INSERTA EN LLAMADAS UTPL",
            "type": "main",
            "index": 0
          },
          {
            "node": "CONDICION ENVIO CRM UTPL",
            "type": "main",
            "index": 0
          },
          {
            "node": "CONDICION ENVIO ALTIVA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONDICION ENVIO ALTIVA": {
      "main": [
        [
          {
            "node": "LEE TOKEN ALTIVA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IGNORAR EVENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEE TOKEN ALTIVA": {
      "main": [
        [
          {
            "node": "DECIDE FLUJO TOKEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DECIDE FLUJO TOKEN": {
      "main": [
        [
          {
            "node": "NECESITA REFRESH TOKEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NECESITA REFRESH TOKEN": {
      "main": [
        [
          {
            "node": "SOLICITA TOKEN ALTIVA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JOIN ALTIVA TOKEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOLICITA TOKEN ALTIVA": {
      "main": [
        [
          {
            "node": "GUARDA TOKEN ALTIVA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARDA TOKEN ALTIVA": {
      "main": [
        [
          {
            "node": "JOIN ALTIVA TOKEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JOIN ALTIVA TOKEN": {
      "main": [
        [
          {
            "node": "PREPARA CARGA ALTIVA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREPARA CARGA ALTIVA": {
      "main": [
        [
          {
            "node": "ACTUALIZA NODO ALTIVA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACTUALIZA NODO ALTIVA": {
      "main": [
        [
          {
            "node": "PROCESA RESPUESTA ALTIVA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCESA RESPUESTA ALTIVA": {
      "main": [
        [
          {
            "node": "IGNORAR EVENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERTA EN LLAMADAS UTPL": {
      "main": [
        [
          {
            "node": "IGNORAR EVENTO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FALLBACK RESTORE CIERRE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONDICION ENVIO CRM UTPL": {
      "main": [
        [
          {
            "node": "MAPEA MOTIVO CRM UTPL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IGNORAR EVENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAPEA MOTIVO CRM UTPL": {
      "main": [
        [
          {
            "node": "PREPARA SOAP XML UTPL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREPARA SOAP XML UTPL": {
      "main": [
        [
          {
            "node": "ENVIA A CRM UTPL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIA A CRM UTPL": {
      "main": [
        [
          {
            "node": "PROCESA RESPUESTA CRM UTPL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCESA RESPUESTA CRM UTPL": {
      "main": [
        [
          {
            "node": "INSERTA EN CRM UTPL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERTA EN CRM UTPL": {
      "main": [
        [
          {
            "node": "IGNORAR EVENTO",
            "type": "main",
            "index": 0
          },
          {
            "node": "CONDICION AUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONDICION AUDIO": {
      "main": [
        [
          {
            "node": "DESCARGAR AUDIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IGNORAR EVENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESCARGAR AUDIO": {
      "main": [
        [
          {
            "node": "PROCESAR AUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCESAR AUDIO": {
      "main": [
        [
          {
            "node": "SUBIR AUDIO SFTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUBIR AUDIO SFTP": {
      "main": [
        [
          {
            "node": "IGNORAR EVENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREPARA CARGA ALTIVA1": {
      "main": [
        [
          {
            "node": "ACTUALIZA NODO ALTIVA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREPARA SOAP XML UTPL1": {
      "main": [
        [
          {
            "node": "ENVIA A CRM UTPL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PRUEBA - SOLICITA TOKEN ALTIVA1": {
      "main": [
        [
          {
            "node": "PREPARA CARGA ALTIVA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PRUEBA - MAPEA MOTIVO CRM UTPL1": {
      "main": [
        [
          {
            "node": "PREPARA SOAP XML UTPL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c152bd1-2781-4eac-9e5e-54542ea1458a",
  "meta": {
    "instanceId": "915a7f7568d882a64f47657d6f3fab09c88f51183cb22a1bfa48ee39cc137bcd"
  },
  "id": "09IQtIO7FN6ywuU5",
  "tags": []
}