flujo_n8n/respaldo/Utpl_Llamadas.json
{
  "name": "Utpl-Llamadas",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    cfg: {\n      runtime: { testMode: false, timeOffsetMinutes: 0 },\n      db: { schema: 'public', table: 'utpl_registros', pk: 'id_negocio' },\n      states: { pending: 'PENDIENTE', inProgress: 'EN_PROCESO', retry: 'REINTENTAR', done: 'FINALIZADO' },\n      agents: {\n        'MODALIDAD EN LINEA': 'cc4bbac0-0736-48f6-8175-0bfe4c4e8a76',\n        'POSGRADO': 'd61d17dc-6e48-4ce7-bfdb-3dc40dcd329e',\n        'TECNOLÓGICO': '638fb59f-0522-4d76-9ca4-a47609f64961'\n      },\n      vapi: {\n        baseUrl: 'https://api.vapi.ai',\n        apiKey: '484afd71-2703-4852-8580-9629620dde82',\n        phoneNumberId: '8b04b436-544e-4054-b4ac-474048ca5323',\n        sip: '77010',\n        campaignId: 'UTPL_LLAMADAS'\n      },\n      policy: {\n        TZ: 'America/Guayaquil',\n        CC: '+593',\n        maxLifetimeTries: 16,\n        maxWindowTries: 3,\n        offHoursWait: 30,\n        holidays: ['2026-05-25'],\n        windows: [\n          { id: 'MAÑANA', days: '1,2,3,4,5,6', start: '08:00', end: '12:00' },\n          { id: 'TARDE', days: '1,2,3,4,5,6', start: '12:01', end: '14:00' },\n          { id: 'NOCHE', days: '1,2,3,4,5,6', start: '14:01', end: '20:00' }\n        ],\n        phoneFields: ['telefono1', 'telefono2', 'telefono3', 'telefono4', 'telefono5', 'telefono6']\n      },\n      noPhoneClassification: {\n        nomenclatura: 'NC',\n        codigo_respuesta: 'NO_CONTACTO',\n        motivo: 'Sin numero de telefono valido'\n      },\n      crmUtpl: {\n        triggerNomenclaturas: ['NIN'],\n        wsUrl: 'http://192.168.10.112/WSUtpl/ServiceUtpl.asmx',\n        soapAction: 'http://tempuri.org/RegistrarLLamada',\n        agentName: 'ARIA UTPL',\n        dealstage: {\n          NIN: '1020923926',\n          NC: '1008735099'\n        },\n        defaultDisposition: {\n          agotado: { disposition: 'fa9b4696-95d1-4b4a-906f-4b0b7b7f155b', subEstado: 'NIN - No Localizable' }\n        }\n      },\n      altiva: {\n        urlBase: 'http://192.168.10.238:91',\n        clientId: '7',\n        clientSecret: 'ug7wMESTpOPPmdDC3KoEyYpVXskcOqRWnfHFZm8X',\n        nombreCampania: 'utpl_integracion',\n        nodoMapping: { NIN: '1', ACE: '2', IND: '2', NUE: '2' }\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6460,
        1380
      ],
      "id": "c8cf7949-5eac-4d57-b4a9-6e56774921be",
      "name": "CONFIG INICIAL UTPL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH next_call AS (\n  SELECT c.id_negocio, c.cedula\n  FROM public.utpl_registros c\n  WHERE c.estado_flujo IN ('PENDIENTE', 'REINTENTAR')\n    AND (c.fecha_reagenda IS NULL OR c.fecha_reagenda <= now())\n  ORDER BY c.intentos_llamada ASC, c.fecha_reagenda ASC NULLS FIRST\n  LIMIT 1\n  FOR UPDATE SKIP LOCKED\n)\nUPDATE public.utpl_registros c\nSET estado_flujo = 'EN_PROCESO',\n    updated_at = now()\nFROM next_call nc\nWHERE c.id_negocio = nc.id_negocio\nRETURNING c.*;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -6240,
        1380
      ],
      "id": "728e942d-6e20-40c4-bebe-dc6e2084c7e5",
      "name": "BUSCA Y BLOQUEA REGISTRO",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000,
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "399d66fc-66e0-450c-ae4b-553e88da1105",
              "leftValue": "={{ $json.id_negocio || $json.cedula }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6020,
        1380
      ],
      "id": "205a192d-f48b-4f4a-829c-2c2a9ff84346",
      "name": "SI SE ENCONTRO REGISTRO"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -5580,
        1540
      ],
      "id": "4a90e68c-a959-4ae5-9343-a432836ca38d",
      "name": "NO HACE NADA"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const lead = item.json;\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n\n  lead.cedula = String(lead.cedula ?? '').trim();\n  lead.nombre_completo = `${lead.nombre ?? ''} ${lead.apellido ?? ''}`.trim();\n  lead.intentos_llamada = Number(lead.intentos_llamada || 0);\n  lead.win_tries = Number(lead.win_tries || 0);\n  lead.telefono_index = Number(lead.telefono_index ?? 0);\n  lead.id_negocio = String(lead.id_negocio ?? '').trim();\n  lead.modalidad = String(lead.modalidad ?? '').trim().toUpperCase().replace('TECNOLOGICO', 'TECNOLÓGICO');\n  lead.producto = String(lead.producto ?? '').trim();\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5780,
        1300
      ],
      "id": "f0d69e80-04d3-4380-ace0-d1db6545e2b4",
      "name": "NORMALIZA DATOS"
    },
    {
      "parameters": {
        "jsCode": "function nextBusinessDayAt8am(from) {\n  const dow = from.weekday;\n  let daysToAdd = 1;\n  if (dow === 5) daysToAdd = 3;  // viernes → lunes\n  if (dow === 6) daysToAdd = 2;  // sábado → lunes\n  return from.plus({ days: daysToAdd }).set({ hour: 8, minute: 0, second: 0, millisecond: 0 });\n}\n\nreturn items.map(item => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const db = item.json || {};\n  let out = { ...db };\n\n  // Determina la hora actual en la zona horaria del proyecto (America/Guayaquil)\n  const now = DateTime.now().setZone(cfg.policy.TZ);\n  const dow = now.weekday;          // 1=lunes ... 7=domingo\n  const todayIso = now.toFormat('yyyy-MM-dd');\n  const nowTime = now.toFormat('HH:mm');\n\n  out.puedeLlamar = false;\n  out.estado_flujo = db.estado_flujo || cfg.states.pending;\n\n  //---- DOMINGO: reprograma al lunes 8am ----\n  if (dow === 7) {\n    const nextMonday = nextBusinessDayAt8am(now);\n    out.status_sugerido = 'REINTENTAR';\n    out.fecha_reagenda = nextMonday.toISO();\n    out.reintentar_iso = out.fecha_reagenda;\n    return { json: out };\n  }\n\n  // ---- FERIADOS: reprograma al siguiente dia habil 8am ----\n  const isHoliday = cfg.policy.holidays.includes(todayIso);\n  if (isHoliday) {\n    out.status_sugerido = 'REINTENTAR';\n    const nextDay = nextBusinessDayAt8am(now);\n    out.fecha_reagenda = nextDay.toISO();\n    out.reintentar_iso = out.fecha_reagenda;\n    return { json: out };\n  }\n\n  // ---- LIMITE DE INTENTOS TOTALES (16): marca como AGOTADO ----\n  const intentosRaw = Number(db.intentos_llamada) || 0;\n  out.intentos_llamada = intentosRaw;\n\n  if (intentosRaw >= cfg.policy.maxLifetimeTries) {\n    out.estado_flujo = cfg.states.done;\n    out.status_sugerido = 'AGOTADO';\n    out.fecha_reagenda = null;\n    return { json: out };\n  }\n\n  // ---- RESPETAR fecha_reagenda (cooldown entre intentos) ----\n  if (db.fecha_reagenda && new Date(db.fecha_reagenda) > new Date()) {\n    out.status_sugerido = 'REINTENTAR';\n    out.fecha_reagenda = db.fecha_reagenda;\n    return { json: out };\n  }\n\n  // ---- ASISTENTE VAPI segun modalidad (LINEA / POSGRADO / TECNOLOGICO) ----\n  const modalidad = String(db.modalidad ?? '').trim().toUpperCase();\n  out.assistant_id = cfg.agents[modalidad] || cfg.agents['MODALIDAD EN LINEA'] || '';\n\n  // ---- VENTANA DE LLAMADA actual y contadores ----\n  const winStamp = String(db.win_stamp || '');\n  const winTries = Number(db.win_tries) || 0;\n  out.win_stamp = winStamp;\n  out.win_tries = winTries;\n  out.modo_operativo = 'normal';\n\n  const dayStr = String(dow);\n  const todayWindows = cfg.policy.windows.filter(w => w.days.split(',').includes(dayStr));\n\n  // ---- SIN VENTANA PARA HOY (ej. sabado): reprograma al siguiente dia habil 8am ----\n  if (todayWindows.length === 0) {\n    out.status_sugerido = 'REINTENTAR';\n    const nextDay = nextBusinessDayAt8am(now);\n    out.fecha_reagenda = nextDay.toISO();\n    out.reintentar_iso = out.fecha_reagenda;\n    return { json: out };\n  }\n\n  // ---- BUSCA LA VENTANA (MAÑANA/TARDE/NOCHE) en la que estamos ----\n  let currentWindowIdx = -1;\n  let currentWindow = null;\n\n  for (let i = 0; i < todayWindows.length; i++) {\n    const w = todayWindows[i];\n    if (nowTime >= w.start && nowTime <= w.end) {\n      currentWindowIdx = i;\n      currentWindow = w;\n      break;\n    }\n  }\n\n  // ---- FUERA DE HORARIO LABORAL: reprograma a la proxima ventana o al dia siguiente habil ----\n  if (!currentWindow) {\n    let upcomingWindow = null;\n    for (let i = 0; i < todayWindows.length; i++) {\n      if (nowTime < todayWindows[i].start) {\n        upcomingWindow = todayWindows[i];\n        break;\n      }\n    }\n\n    if (upcomingWindow) {\n      out.status_sugerido = 'REINTENTAR';\n      const [h, m] = upcomingWindow.start.split(':').map(Number);\n      out.fecha_reagenda = now.set({ hour: h, minute: m, second: 0, millisecond: 0 }).toISO();\n      out.reintentar_iso = out.fecha_reagenda;\n    } else {\n      // ya pasaron todas las ventanas de hoy\n      out.status_sugerido = 'REINTENTAR';\n      const nextDay = nextBusinessDayAt8am(now);\n      out.fecha_reagenda = nextDay.toISO();\n      out.reintentar_iso = out.fecha_reagenda;\n    }\n    return { json: out };\n  }\n\n  // ---- REGLA 3x3: controla los intentos dentro de la ventana actual ----\n  const stampForWindow = `${currentWindow.id}_${todayIso}`;\n\n  if (winStamp !== stampForWindow) {\n    // Primera llamada en esta ventana → reinicia contador\n    out.win_stamp = stampForWindow;\n    out.win_tries = 0;\n    out.puedeLlamar = true;\n  } else if (winTries < cfg.policy.maxWindowTries) {\n    // Aun quedan intentos en esta ventana\n    out.puedeLlamar = true;\n  } else {\n    // Se agotaron los 3 intentos de esta ventana → pasa a la siguiente o al dia siguiente habil\n    const nextIdx = currentWindowIdx + 1;\n    if (nextIdx < todayWindows.length) {\n      out.status_sugerido = 'REINTENTAR';\n      const nextWin = todayWindows[nextIdx];\n      const [h, m] = nextWin.start.split(':').map(Number);\n      out.fecha_reagenda = now.set({ hour: h, minute: m, second: 0, millisecond: 0 }).toISO();\n      out.reintentar_iso = out.fecha_reagenda;\n    } else {\n      out.status_sugerido = 'REINTENTAR';\n      const nextDay = nextBusinessDayAt8am(now);\n      out.fecha_reagenda = nextDay.toISO();\n      out.reintentar_iso = out.fecha_reagenda;\n    }\n  }\n\n  return { json: out };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5560,
        1180
      ],
      "id": "4e5082ae-1b78-4ebd-b926-012988887749",
      "name": "POLITICAS REGLA 3x3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af1a295f-9033-4eff-8b80-d54d2b9ec868",
              "leftValue": "={{ $json.puedeLlamar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5340,
        1120
      ],
      "id": "2333d4bb-bcee-4706-8244-a7b1b0f22b30",
      "name": "SI PUEDE LLAMAR"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const db = item.json || {};\n  let phones = [];\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const CC = cfg.policy.CC || '+593';\n  const ccDigits = CC.replace(/\\D/g, ''); // '593' — digitos del codigo de pais\n  const phoneFields = cfg.policy.phoneFields || ['telefono1', 'telefono2', 'telefono3', 'telefono4', 'telefono5', 'telefono6'];\n  const seen = new Set(); // evita numeros duplicados\n\n  for (const field of phoneFields) {\n    const raw = String(db[field] || '');\n    const val = raw.replace(/\\D/g, '');\n    if (val.length < 9) continue;\n\n    let e164 = val;\n    if (val.startsWith('0')) {\n      // 0999999999 → +593999999999\n      e164 = CC + val.substring(1);\n    } else if (!val.startsWith(ccDigits)) {\n      // 999999999 → +593999999999\n      e164 = CC + val;\n    }\n    // si ya empieza con 593 o +593, se deja tal cual\n\n    if (!seen.has(e164)) {\n      seen.add(e164);\n      phones.push({ field, e164 });\n    }\n  }\n\n  const tIndex = Number(db.telefono_index ?? 0);\n  let selected = null;\n\n  if (phones.length > 0) {\n    const idx = tIndex % phones.length;\n    selected = phones[idx];\n  }\n\n  item.json.phones_parsed = phones;\n  item.json.selected_phone = selected;\n  item.json.telefono_actual = selected ? selected.e164 : '';\n  item.json.isOutOfNumbers = selected === null;\n  item.json.hasPhonesOutsideWindow = false;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5100,
        1100
      ],
      "id": "0254ea7e-1bb9-460e-a784-96a895a0ed95",
      "name": "PROCESA TELEFONOS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ddfd4b58-508c-4eee-a89d-63cd426b24db",
              "name": "fecha_reagenda",
              "value": "={{ $json.reintentar_iso || null }}",
              "type": "string"
            },
            {
              "id": "837c82e3-7236-4ff6-b034-4b4bdab861ae",
              "name": "estado_flujo",
              "value": "={{ $json.status_sugerido === 'AGOTADO' ? $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.states.done : $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.states.retry }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5160,
        1460
      ],
      "id": "d3b81f11-d3c5-4771-a2b1-38fce5e5c09f",
      "name": "FORMATEA STATUS"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.utpl_registros\nSET cedula = '{{ String($json.cedula || '') }}',\n    estado_flujo = '{{ $json.estado_flujo }}',\n    fecha_reagenda = {{ $json.fecha_reagenda ? \"'\" + $json.fecha_reagenda + \"'::timestamptz\" : 'NULL' }},\n    win_stamp = {{ $json.win_stamp ? \"'\" + $json.win_stamp + \"'\" : 'NULL' }},\n    win_tries = {{ Number($json.win_tries ?? 0) }},\n    intentos_llamada = {{ Number($json.intentos_llamada ?? 0) }},\n    telefono_index = {{ Number($json.telefono_index ?? 0) }},\n    updated_at = now()\nWHERE id_negocio = '{{ String($json.id_negocio || '') }}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4920,
        1460
      ],
      "id": "6e00d0f9-6e63-404e-b130-2345bd6e6b04",
      "name": "GUARDA STATUS",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "71d6f329-2f85-4ba1-b581-2766d94ab22e",
              "leftValue": "={{ $json.isOutOfNumbers }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4820,
        1140
      ],
      "id": "0f19fffa-d556-477c-80ac-f1d62813ca04",
      "name": "SI QUEDAN NUMEROS"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const lead = item.json;\n\n  lead.snapshot_estado_flujo = lead.estado_flujo;\n  lead.snapshot_fecha_reagenda = lead.fecha_reagenda;\n  lead.snapshot_intentos_llamada = lead.intentos_llamada;\n  lead.snapshot_win_tries = lead.win_tries;\n  lead.snapshot_telefono_index = lead.telefono_index;\n  lead.snapshot_win_stamp = lead.win_stamp;\n  lead.snapshot_fecha_ultima_llamada = lead.fecha_ultima_llamada;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4580,
        1040
      ],
      "id": "1736294d-b576-4c76-a178-3d058872de47",
      "name": "CAPTURA SNAPSHOT"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const lead = item.json;\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n\n  if (lead.hasPhonesOutsideWindow) {\n    const t = new Date();\n    t.setMinutes(t.getMinutes() + Number(cfg.policy.offHoursWait || 30));\n    lead.estado_flujo = cfg.states.retry;\n    lead.status_sugerido = 'REINTENTAR';\n    lead.fecha_reagenda = t.toISOString();\n    lead.reintentar_iso = lead.fecha_reagenda;\n    return item;\n  }\n\n  lead.estado_flujo = cfg.states.done;\n  lead.status_sugerido = 'FINAL';\n  lead.fecha_reagenda = null;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4560,
        1260
      ],
      "id": "a2b9d5ee-8489-476b-a336-74f4af111fc0",
      "name": "SIN NUMERO VALIDO"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.utpl_registros\nSET estado_flujo = 'EN_PROCESO',\n    win_stamp = '{{ $json.win_stamp }}',\n    win_tries = {{ Number($json.win_tries ?? 0) + 1 }},\n    telefono_index = telefono_index + 1,\n    intentos_llamada = intentos_llamada + 1,\n    fecha_ultima_llamada = now(),\n    updated_at = now()\nWHERE id_negocio = '{{ $json.id_negocio }}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4260,
        980
      ],
      "id": "35914fea-3f8d-49b1-beb1-8a36de6aef82",
      "name": "GUARDA PRE-LLAMADA",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "utpl_registros",
          "cachedResultName": "utpl_registros"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_negocio": "={{ String($json.id_negocio || '') }}",
            "cedula": "={{ String($json.cedula || '') }}",
            "estado_flujo": "={{ $json.estado_flujo || $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.states.done }}",
            "fecha_reagenda": "={{ $json.fecha_reagenda }}",
            "intentos_llamada": "={{ Number($json.intentos_llamada || 0) }}",
            "win_tries": "={{ Number($json.win_tries || 0) }}",
            "telefono_index": "={{ Number($json.telefono_index || 0) }}",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id_negocio"
          ],
          "schema": [
            {
              "id": "cedula",
              "displayName": "cedula",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado_flujo",
              "displayName": "estado_flujo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_reagenda",
              "displayName": "fecha_reagenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_stamp",
              "displayName": "win_stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_tries",
              "displayName": "win_tries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "intentos_llamada",
              "displayName": "intentos_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_index",
              "displayName": "telefono_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_ultima_llamada",
              "displayName": "fecha_ultima_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4300,
        1220
      ],
      "id": "3de277ac-49d1-457c-b6d7-18482cd06070",
      "name": "GUARDA REPORTE",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.runtime.testMode ? 'https://n8nps.plusservices.ec/webhook/utpl-simulador' : 'https://api.vapi.ai/call' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.vapi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"outboundPhoneCall\",\n  \"name\": \"Llamada {{ $json.modalidad || 'UTPL' }} - {{ $json.cedula }}\",\n  \"assistantId\": \"{{ $json.assistant_id || $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.agents['MODALIDAD EN LINEA'] }}\",\n  \"phoneNumberId\": \"{{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.vapi.phoneNumberId }}\",\n  \"customer\": {\n    \"number\": \"{{ $json.telefono_actual }}\",\n    \"name\": \"{{ $json.nombre_completo }}\"\n  },\n  \"metadata\": {\n    \"id_negocio\": \"{{ $json.id_negocio }}\",\n    \"cedula\": \"{{ $json.cedula }}\",\n    \"id_interno_negocio\": \"{{ $json.id_interno_negocio || '' }}\",\n    \"modalidad\": \"{{ $json.modalidad }}\",\n    \"producto\": \"{{ $json.producto }}\",\n    \"nombre_corto_campania\": \"{{ $json.nombre_corto_campania || '' }}\"\n  },\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"sip\": \"{{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.vapi.sip }}\",\n      \"cedula\": \"{{ $json.cedula }}\",\n      \"telefono\": \"{{ ($json.telefono_actual || '').toString().replace('+593', '0') }}\",\n      \"id_interno_negocio\": \"{{ $json.id_interno_negocio || '' }}\",\n      \"nombre\": \"{{ $json.nombre }}\",\n      \"nombre_cliente\": \"{{ $json.nombre_completo }}\",\n      \"nombre_producto\": \"{{ $json.producto }}\",\n      \"modalidad\": \"{{ $json.modalidad }}\",\n      \"modo\": \"{{ $json.modo_operativo || 'normal' }}\",\n      \"MODO\": \"{{ $json.modo_operativo || 'normal' }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3780,
        860
      ],
      "id": "2eafb164-88e3-429a-81b4-f9d07ba34c23",
      "name": "LLAMAR VAPI AGENTE",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ (() => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n\n  // id_negocio del item actual o del lead original si venimos de error\n  const raw = String($json.id_negocio ?? $items('BUSCA Y BLOQUEA REGISTRO', 0, 0)[0].json.id_negocio ?? '').trim();\n  if (!raw) return 'SELECT \\'skip_fallback_sin_id\\' AS status';\n\n  // Escapa comillas simples para evitar inyeccion SQL\n  const esc = s => String(s ?? '').replace(/'/g, \"''\");\n\n  // Si CAPTURA SNAPSHOT corrio, restaura los valores originales del lead\n  if ($json.snapshot_estado_flujo !== undefined) {\n    const snapFechaReagenda = $json.snapshot_fecha_reagenda;\n    const snapFechaUlt = $json.snapshot_fecha_ultima_llamada;\n    const snapWinStamp = $json.snapshot_win_stamp;\n\n    return `\n      UPDATE public.utpl_registros\n      SET estado_flujo = '${esc(($json.snapshot_estado_flujo === 'EN_PROCESO') ? cfg.states.pending : ($json.snapshot_estado_flujo ?? cfg.states.pending))}',\n          fecha_reagenda = ${snapFechaReagenda ? `'${esc(String(snapFechaReagenda))}'::timestamptz` : 'NULL'},\n          intentos_llamada = ${$json.snapshot_intentos_llamada ?? 'NULL'},\n          win_tries = ${$json.snapshot_win_tries ?? 'NULL'},\n          telefono_index = ${$json.snapshot_telefono_index ?? 'NULL'},\n          win_stamp = ${snapWinStamp ? `'${esc(String(snapWinStamp))}'` : 'NULL'},\n          fecha_ultima_llamada = ${snapFechaUlt ? `'${esc(String(snapFechaUlt))}'::timestamptz` : 'NULL'},\n          updated_at = now()\n      WHERE id_negocio = '${esc(raw)}'\n      RETURNING *;\n    `;\n  }\n\n  // Sin snapshot: resetea el lead a PENDIENTE con contadores en cero\n  return `\n    UPDATE public.utpl_registros\n    SET estado_flujo = '${cfg.states.pending}',\n        fecha_reagenda = NULL,\n        intentos_llamada = 0,\n        win_tries = 0,\n        telefono_index = 0,\n        win_stamp = NULL,\n        fecha_ultima_llamada = NULL,\n        updated_at = now()\n    WHERE id_negocio = '${esc(raw)}'\n    RETURNING *;\n  `;\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3760,
        1240
      ],
      "id": "9a0e9327-a49f-4385-a750-cc7a4a3f3e15",
      "name": "FALLBACK RESTORE",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -6680,
        1380
      ],
      "id": "220657da-9989-4836-8dd5-02a3f7d62b11",
      "name": "EJECUTA ESTO CADA 20 SEG"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "crm_agotado_check",
              "leftValue": "={{ $json.intentos_llamada >= 16 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4660,
        1460
      ],
      "id": "a9216601-0b50-4b28-80b0-1e90badf3817",
      "name": "SI FINAL AGOTADO"
    },
    {
      "parameters": {
        "jsCode": "const escapeXml = function(str) {\n  return String(str || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;').replace(/'/g, '&apos;');\n};\n\nreturn items.map(item => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const crm = cfg.crmUtpl || {};\n\n  const idNegocio = String(item.json.id_negocio || '').trim();\n  const dealid = String(item.json.id_interno_negocio || '');\n  const fechaUltima = item.json.fecha_ultima_llamada;\n\n  let hsTimestamp = '';\n  if (fechaUltima) {\n    try {\n      const dt = DateTime.fromISO(String(fechaUltima)).setZone(cfg.policy.TZ);\n      if (dt.isValid) hsTimestamp = dt.toFormat('yyyy-MM-dd HH:mm:ss');\n    } catch (e) {}\n  }\n  if (!hsTimestamp) {\n    hsTimestamp = DateTime.now().setZone(cfg.policy.TZ).toFormat('yyyy-MM-dd HH:mm:ss');\n  }\n\n  const dealstage = (crm.dealstage && crm.dealstage.NIN) || '1020923926';\n  const defAg = (crm.defaultDisposition && crm.defaultDisposition.agotado) || {};\n  const disposition = defAg.disposition || 'fa9b4696-95d1-4b4a-906f-4b0b7b7f155b';\n  const subEstado = defAg.subEstado || 'NIN - No Localizable';\n\n  item.json.crmHsTimestamp = hsTimestamp;\n\n  item.json.soapXml = `<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap:Body>\n    <RegistrarLLamada xmlns=\"http://tempuri.org/\">\n      <codigo_negocio>${escapeXml(idNegocio)}</codigo_negocio>\n      <dealstage>${escapeXml(dealstage)}</dealstage>\n      <hs_call_disposition>${escapeXml(disposition)}</hs_call_disposition>\n      <hs_call_body>${escapeXml('Maximo de intentos alcanzado sin contacto exitoso')}</hs_call_body>\n      <agent_name>${escapeXml(crm.agentName || 'ARIA UTPL')}</agent_name>\n      <hs_call_duration>0</hs_call_duration>\n      <sales_stage_detail>${escapeXml(subEstado)}</sales_stage_detail>\n      <commitment_date></commitment_date>\n      <dealid>${escapeXml(dealid)}</dealid>\n      <hs_timestamp>${escapeXml(hsTimestamp)}</hs_timestamp>\n      <scheduling_date></scheduling_date>\n    </RegistrarLLamada>\n  </soap:Body>\n</soap:Envelope>`;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4380,
        1440
      ],
      "id": "ec64095a-3ffc-42ea-85c4-c8f69211ae1b",
      "name": "PREPARA SOAP XML AGOTADO"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.crmUtpl.wsUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/xml; charset=utf-8"
            },
            {
              "name": "SOAPAction",
              "value": "={{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.crmUtpl.soapAction }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml; charset=utf-8",
        "body": "={{ $json.soapXml }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4140,
        1440
      ],
      "id": "c1a8e134-4ca6-478a-8b38-2cb8708bf9ad",
      "name": "ENVIA A CRM UTPL",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const crm = cfg.crmUtpl || {};\n  const prevItems = $items('PREPARA SOAP XML AGOTADO', 0, 0);\n  const prev = prevItems.length > 0 ? prevItems[0].json : {};\n  const body = String(item.json.response || item.json.data || item.json.body || '');\n  const hc = body.match(/<httpCode>(\\d+)<\\/httpCode>/);\n  const ir = body.match(/<idreturn>([^<]+)<\\/idreturn>/);\n  const m1 = body.match(/<messagews1>([^<]*)<\\/messagews1>/);\n  const m2 = body.match(/<messagews2>([^<]*)<\\/messagews2>/);\n  const m3 = body.match(/<messagews3>([^<]*)<\\/messagews3>/);\n\n  item.json.crmHttpCode = hc ? hc[1] : null;\n  item.json.crmIdReturn = ir ? ir[1] : null;\n  item.json.crmSuccess = item.json.crmHttpCode && String(item.json.crmHttpCode).startsWith('2');\n\n  if (!item.json.crmSuccess) {\n    item.json.crmError = [m1 ? m1[1] : null, m2 ? m2[1] : null, m3 ? m3[1] : null].filter(Boolean).join(' | ');\n  }\n\n  const idNegocio = String(item.json.id_negocio || prev.id_negocio || '').trim();\n  const idInterno = String(item.json.id_interno_negocio || prev.id_interno_negocio || '');\n  const soapXml = String(item.json.soapXml || prev.soapXml || '');\n  const hsTimestamp = String(item.json.crmHsTimestamp || prev.crmHsTimestamp || '');\n\n  const esc = function(s) { return String(s || '').replace(/'/g, \"''\"); };\n  const deS = (crm.dealstage && crm.dealstage.NIN) || '1020923926';\n  const defAg = (crm.defaultDisposition && crm.defaultDisposition.agotado) || {};\n  const dis = defAg.disposition || 'fa9b4696-95d1-4b4a-906f-4b0b7b7f155b';\n  const sst = defAg.subEstado || 'NIN - No Localizable';\n  const cuerpo = 'Maximo de intentos alcanzado sin contacto exitoso';\n\n  item.json.crmInsertQuery = `INSERT INTO public.utpl_crm (id_negocio, flujo_origen, nomenclatura, dealstage, hs_call_disposition, sales_stage_detail, agent_name, hs_call_duration, hs_call_body, commitment_date, dealid, hs_timestamp, scheduling_date, soap_xml, http_code, id_return, error_messages) VALUES ('${esc(idNegocio)}', 'Llamadas', 'NIN', '${esc(deS)}', '${esc(dis)}', '${esc(sst)}', '${esc(crm.agentName || 'ARIA UTPL')}', '0', '${esc(cuerpo)}', NULL, '${esc(idInterno)}', '${esc(hsTimestamp)}', NULL, '${esc(soapXml)}', '${esc(item.json.crmHttpCode)}', '${esc(item.json.crmIdReturn)}', '${esc(item.json.crmError)}')`;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3900,
        1440
      ],
      "id": "b34279b4-7408-4488-88c5-9f9f50416368",
      "name": "PROCESA RESPUESTA CRM UTPL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.crmInsertQuery }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3660,
        1440
      ],
      "id": "237aee5c-8f5b-4586-ae2e-1c1f75a994ac",
      "name": "INSERTA EN CRM UTPL",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value, expires_at FROM public.utpl_config WHERE key = 'altiva_token'\nUNION ALL\nSELECT NULL::text, NULL::timestamptz\nWHERE NOT EXISTS (SELECT 1 FROM public.utpl_config WHERE key = 'altiva_token');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4300,
        1720
      ],
      "id": "9027571a-4990-4562-b6b9-c5ae7e82d9b8",
      "name": "LEE TOKEN ALTIVA",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const tokenRow = item.json;\n  const token = tokenRow.value || null;\n  const expiresAt = tokenRow.expires_at || null;\n\n  let needsRefresh = true;\n  if (token && expiresAt) {\n    if (new Date(expiresAt) > new Date()) {\n      needsRefresh = false;\n      item.json.altivaToken = token;\n    }\n  }\n\n  item.json.tokenNeedsRefresh = needsRefresh;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4060,
        1720
      ],
      "id": "bad78fff-cf98-4e73-8bab-3607e5ef1d7e",
      "name": "DECIDE FLUJO TOKEN"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "altiva_needs_refresh_llam",
              "leftValue": "={{ $json.tokenNeedsRefresh }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3820,
        1720
      ],
      "id": "9856c60d-7754-4d47-b86c-a887dd2a9101",
      "name": "NECESITA REFRESH TOKEN"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.altiva.urlBase + '/api/v1/auth/token' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ grant_type: 'client_credentials', client_id: $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.altiva.clientId, client_secret: $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.altiva.clientSecret }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3560,
        1680
      ],
      "id": "2b5f3a4e-9611-43ed-8d18-cbe4ed5c7a2f",
      "name": "SOLICITA TOKEN ALTIVA",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ (() => { const t = String($json.data?.access_token || '').replace(/'/g, \"''\"); const ex = Number($json.data?.expires_in || 86400); const exp = new Date(Date.now() + ex * 1000).toISOString(); return `INSERT INTO public.utpl_config (key, value, expires_at, updated_at) VALUES ('altiva_token', '${t}', '${exp}', now()) ON CONFLICT (key) DO UPDATE SET value = '${t}', expires_at = '${exp}', updated_at = now() RETURNING *;`; })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3320,
        1680
      ],
      "id": "eecccd89-5595-43c5-a1e9-1ae8b9586d82",
      "name": "GUARDA TOKEN ALTIVA",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "20a84ceb-60e2-44f2-92c1-4e15c802d761",
      "name": "JOIN ALTIVA TOKEN",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3580,
        1960
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n\n  item.json.altivaBody = {\n    nuic: String(item.json.id_interno_negocio || ''),\n    nombre_corto_campania: String(item.json.nombre_corto_campania || cfg.altiva.nombreCampania || ''),\n    nodo: '1'\n  };\n\n  const token = item.json.altivaToken || (item.json.data && item.json.data.access_token) || item.json.value || '';\n  if (!item.json.altivaToken && item.json.data && item.json.data.access_token) {\n    item.json.altivaToken = String(item.json.data.access_token);\n  } else if (!item.json.altivaToken && item.json.value) {\n    item.json.altivaToken = String(item.json.value);\n  }\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3340,
        1960
      ],
      "id": "d9222277-8999-44c3-bc7b-47c83fdfb925",
      "name": "PREPARA CARGA ALTIVA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.altiva.urlBase + '/api/v1/altiva/nodo/actualizar' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.altivaToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.altivaBody) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3100,
        1960
      ],
      "id": "6056c9a9-2d1d-474d-95b3-4506e4ee64d3",
      "name": "ACTUALIZA NODO ALTIVA",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const body = item.json.response || item.json;\n  let status = null, message = '';\n  try {\n    const parsed = typeof body === 'string' ? JSON.parse(body) : body;\n    status = parsed.estado || null;\n    message = parsed.mensaje || '';\n  } catch (e) {\n    message = String(body || '').substring(0, 200);\n  }\n\n  item.json.altivaStatus = status;\n  item.json.altivaMessage = message;\n  item.json.altivaSuccess = status === 200;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2860,
        1960
      ],
      "id": "fa4d2c47-b7a4-41cb-ad77-986f883db0c7",
      "name": "PROCESA RESPUESTA ALTIVA"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const lead = item.json;\n\n  // 1. Nombre completo\n  lead.nombre_completo = `${lead.nombre || ''} ${lead.apellido || ''}`.trim();\n\n  // 2. Assistant ID según modalidad\n  const modalidad = String(lead.modalidad ?? '').trim().toUpperCase();\n  lead.assistant_id = cfg.agents[modalidad] || cfg.agents['MODALIDAD EN LINEA'];\n  lead.modo_operativo = 'normal';\n\n  // 3. Filtrar teléfonos válidos (misma lógica que PROCESA TELEFONOS)\n  const phoneFields = cfg.policy.phoneFields;\n  const CC = cfg.policy.CC || '+593';\n  const ccDigits = CC.replace(/\\D/g, '');\n  const validPhones = [];\n\n  for (const field of phoneFields) {\n    const raw = String(lead[field] || '');\n    const digits = raw.replace(/\\D/g, '');\n    if (digits.length < 9) continue;\n\n    let e164 = digits;\n    if (digits.startsWith('0')) {\n      e164 = CC + digits.substring(1);\n    } else if (!digits.startsWith(ccDigits)) {\n      e164 = CC + digits;\n    }\n\n    validPhones.push({ field, e164 });\n  }\n\n  // 4. Seleccionar según telefono_index (con fallback si el apuntado está vacío)\n  const tIndex = Number(lead.telefono_index ?? 0);\n  let selected = null;\n\n  if (validPhones.length > 0) {\n    const idx = tIndex % validPhones.length;\n    selected = validPhones[idx];\n  }\n\n  lead.telefono_actual = selected ? selected.e164 : '';\n  lead.selected_phone = selected;\n  lead.isOutOfNumbers = selected === null;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4020,
        840
      ],
      "id": "6d497c3b-9648-4223-a973-8ef401f38a9a",
      "name": "PREPARA LLAMADA VAPI"
    }
  ],
  "pinData": {},
  "connections": {
    "CONFIG INICIAL UTPL": {
      "main": [
        [
          {
            "node": "BUSCA Y BLOQUEA REGISTRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA Y BLOQUEA REGISTRO": {
      "main": [
        [
          {
            "node": "SI SE ENCONTRO REGISTRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI SE ENCONTRO REGISTRO": {
      "main": [
        [
          {
            "node": "NORMALIZA DATOS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NO HACE NADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NORMALIZA DATOS": {
      "main": [
        [
          {
            "node": "POLITICAS REGLA 3x3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POLITICAS REGLA 3x3": {
      "main": [
        [
          {
            "node": "SI PUEDE LLAMAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI PUEDE LLAMAR": {
      "main": [
        [
          {
            "node": "PROCESA TELEFONOS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FORMATEA STATUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCESA TELEFONOS": {
      "main": [
        [
          {
            "node": "SI QUEDAN NUMEROS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FORMATEA STATUS": {
      "main": [
        [
          {
            "node": "GUARDA STATUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI QUEDAN NUMEROS": {
      "main": [
        [
          {
            "node": "CAPTURA SNAPSHOT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SIN NUMERO VALIDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CAPTURA SNAPSHOT": {
      "main": [
        [
          {
            "node": "GUARDA PRE-LLAMADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SIN NUMERO VALIDO": {
      "main": [
        [
          {
            "node": "GUARDA REPORTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARDA PRE-LLAMADA": {
      "main": [
        [
          {
            "node": "PREPARA LLAMADA VAPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FALLBACK RESTORE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLAMAR VAPI AGENTE": {
      "main": [
        [
          {
            "node": "NO HACE NADA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FALLBACK RESTORE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EJECUTA ESTO CADA 20 SEG": {
      "main": [
        [
          {
            "node": "CONFIG INICIAL UTPL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARDA STATUS": {
      "main": [
        [
          {
            "node": "SI FINAL AGOTADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI FINAL AGOTADO": {
      "main": [
        [
          {
            "node": "PREPARA SOAP XML AGOTADO",
            "type": "main",
            "index": 0
          },
          {
            "node": "LEE TOKEN ALTIVA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NO HACE NADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEE TOKEN ALTIVA": {
      "main": [
        [
          {
            "node": "DECIDE FLUJO TOKEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DECIDE FLUJO TOKEN": {
      "main": [
        [
          {
            "node": "NECESITA REFRESH TOKEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NECESITA REFRESH TOKEN": {
      "main": [
        [
          {
            "node": "SOLICITA TOKEN ALTIVA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JOIN ALTIVA TOKEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOLICITA TOKEN ALTIVA": {
      "main": [
        [
          {
            "node": "GUARDA TOKEN ALTIVA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARDA TOKEN ALTIVA": {
      "main": [
        [
          {
            "node": "JOIN ALTIVA TOKEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JOIN ALTIVA TOKEN": {
      "main": [
        [
          {
            "node": "PREPARA CARGA ALTIVA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREPARA CARGA ALTIVA": {
      "main": [
        [
          {
            "node": "ACTUALIZA NODO ALTIVA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACTUALIZA NODO ALTIVA": {
      "main": [
        [
          {
            "node": "PROCESA RESPUESTA ALTIVA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCESA RESPUESTA ALTIVA": {
      "main": [
        [
          {
            "node": "NO HACE NADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREPARA SOAP XML AGOTADO": {
      "main": [
        [
          {
            "node": "ENVIA A CRM UTPL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIA A CRM UTPL": {
      "main": [
        [
          {
            "node": "PROCESA RESPUESTA CRM UTPL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCESA RESPUESTA CRM UTPL": {
      "main": [
        [
          {
            "node": "INSERTA EN CRM UTPL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERTA EN CRM UTPL": {
      "main": [
        [
          {
            "node": "NO HACE NADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREPARA LLAMADA VAPI": {
      "main": [
        [
          {
            "node": "LLAMAR VAPI AGENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c97492d-85ca-4cdd-854e-5207efc0b45e",
  "meta": {
    "instanceId": "915a7f7568d882a64f47657d6f3fab09c88f51183cb22a1bfa48ee39cc137bcd"
  },
  "id": "0JNdbkn7C7gnpO1j",
  "tags": []
}