flujo_n8n/ENTRADA_DE_DATOS_UTPL.json
{
  "name": "ENTRADA DE DATOS UTPL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "utpl-entrada-datos",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        100
      ],
      "id": "webhook-utpl-entrada-001",
      "name": "Webhook ALTIVA UTPL",
      "webhookId": "utpl-entrada-datos-wh"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.leads",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        300,
        80
      ],
      "id": "split-utpl-leads",
      "name": "PROCESA 1 POR UNO"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const lead = $items('PROCESA 1 POR UNO', 0, 0)[0].json || item.json;\n  const idNegocio = String(lead.id_negocio || lead.id_registro || lead.cedula || '').trim();\n  return { json: { id_negocio: idNegocio, => {\n  const lead = $items('PROCESA 1 POR UNO', 0, 0)[0].json || item.json;\n\n  // Phones: ALTIVA -> utpl_registros\n  const phones = [\n    lead.ph_celular,\n    lead.ph_celular2,\n    lead.ph_residencial,\n    lead.ph_residencial2,\n    lead.ph_comercial,\n    lead.ph_telefono4\n  ];\n\n  id_negocio: idNegocio,\n      cedula: String(lead.cedula || '').trim(),\n      nombre: String(lead.nombre || '').trim(),\n      apellido: String(lead.apellido || '').trim(),\n      producto: String(lead.producto || '').trim(),\n      modalidad: String(lead.modalidad || '').trim().toUpperCase(),\n      telefono1: phones[0] || null,\n      telefono2: phones[1] || null,\n      telefono3: phones[2] || null,\n      telefono4: phones[3] || null,\n      telefono5: phones[4] || null,\n      telefono6: phones[5] || null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        60
      ],
      "id": "map-utpl-fields",
      "name": "MAPEA CAMPOS UTPL"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "utpl_registros"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_negocio": "={{ String($json.id_negocio || '') }}",
            "cedula": "={{ String($json.cedula || '') }}",
            "nombre": "={{ $json.nombre }}",
            "apellido": "={{ $json.apellido }}",
            "producto": "={{ $json.producto }}",
            "modalidad": "={{ $json.modalidad }}",
            "telefono1": "={{ $json.telefono1 }}",
            "telefono2": "={{ $json.telefono2 }}",
            "telefono3": "={{ $json.telefono3 }}",
            "telefono4": "={{ $json.telefono4 }}",
            "telefono5": "={{ $json.telefono5 }}",
            "telefono6": "={{ $json.telefono6 }}"
          },
          "matchingColumns": [
            "id_negocio"
          ],
          "schema": [
            {
              "id": "id_negocio",
              "displayName": "id_negocio",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cedula",
              "displayName": "cedula",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "apellido",
              "displayName": "apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "modalidad",
              "displayName": "modalidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono1",
              "displayName": "telefono1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono2",
              "displayName": "telefono2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono3",
              "displayName": "telefono3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono4",
              "displayName": "telefono4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono5",
              "displayName": "telefono5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono6",
              "displayName": "telefono6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        780,
        40
      ],
      "id": "upsert-utpl-registros",
      "name": "GUARDA EN UTPL REGISTROS",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook ALTIVA UTPL": {
      "main": [
        [
          {
            "node": "PROCESA 1 POR UNO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCESA 1 POR UNO": {
      "main": [
        [
          {
            "node": "MAPEA CAMPOS UTPL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAPEA CAMPOS UTPL": {
      "main": [
        [
          {
            "node": "GUARDA EN UTPL REGISTROS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "utpl-entrada-v1-001",
  "meta": {
    "instanceId": "915a7f7568d882a64f47657d6f3fab09c88f51183cb22a1bfa48ee39cc137bcd"
  },
  "id": "UTPL-ENTRADA-DATOS-001",
  "tags": []
}