flujo_n8n/utpl_Llamadas.json
{
  "name": "UTPL-Llamadas",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    cfg: {\n      runtime: { testMode: true, timeOffsetMinutes: 0 },\n      db: { schema: 'public', table: 'utpl_registros', pk: 'cedula' },\n      states: { pending: 'PENDIENTE', inProgress: 'EN_PROCESO', retry: 'REINTENTAR', done: 'FINALIZADO' },\n      agents: {\n        'MODALIDAD EN LINEA': '00000000-0000-0000-0000-000000000001',\n        'POSGRADO': '00000000-0000-0000-0000-000000000002',\n        'TECNOLÓGICO': '00000000-0000-0000-0000-000000000003'\n      },\n      vapi: {\n        baseUrl: 'https://api.vapi.ai',\n        apiKey: 'TU_API_KEY',\n        phoneNumberId: 'TU_PHONE_ID',\n        sip: '0',\n        campaignId: 'UTPL_LLAMADAS'\n      },\n      policy: {\n        TZ: 'America/Guayaquil',\n        CC: '+593',\n        maxLifetimeTries: 16,\n        maxWindowTries: 3,\n        offHoursWait: 30,\n        holidays: ['2026-05-25'],\n        windows: [\n          { id: 'MAÑANA', days: '1,2,3,4,5', start: '08:00', end: '12:00' },\n          { id: 'TARDE', days: '1,2,3,4,5', start: '12:01', end: '14:00' },\n          { id: 'NOCHE', days: '1,2,3,4,5', start: '14:01', end: '20:00' }\n        ],\n        phoneFields: ['telefono1', 'telefono2', 'telefono3', 'telefono4', 'telefono5', 'telefono6']\n      },\n      noPhoneClassification: {\n        nomenclatura: 'NC',\n        codigo_respuesta: 'NO_CONTACTO',\n        motivo: 'Sin numero de telefono valido'\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3160, 500],
      "id": "035ca24e-04e7-4937-8ace-b830d16376cd",
      "name": "CONFIG INICIAL UTPL"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "seconds", "secondsInterval": 60 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-3380, 500],
      "id": "63613f31-dfdc-42b5-8d3b-5ee91c2488dd",
      "name": "EJECUTA ESTO CADA 60 SEG"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ (() => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const offset = cfg.runtime.timeOffsetMinutes || 0;\n  const nowOffset = `now() + interval '${offset} minutes'`;\n  return `\n    WITH next_call AS (\n      SELECT c.cedula, timezone('${cfg.policy.TZ}', ${nowOffset}) as now_local\n      FROM ${cfg.db.schema}.${cfg.db.table} c\n      WHERE c.estado_flujo IN ('${cfg.states.pending}', '${cfg.states.retry}')\n        AND (c.fecha_reagenda IS NULL OR c.fecha_reagenda <= ${nowOffset})\n      ORDER BY c.intentos_llamada ASC, c.fecha_reagenda ASC NULLS FIRST\n      LIMIT 1\n      FOR UPDATE SKIP LOCKED\n    )\n    UPDATE ${cfg.db.schema}.${cfg.db.table} c\n    SET estado_flujo = '${cfg.states.inProgress}',\n        updated_at = ${nowOffset}\n    FROM next_call nc\n    WHERE c.cedula = nc.cedula\n    RETURNING c.*;\n  `;\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-2940, 500],
      "id": "dd6b3a67-53e6-46cb-99fa-988d2beed8c9",
      "name": "BUSCA Y BLOQUEA REGISTRO",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000,
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "399d66fc-66e0-450c-ae4b-553e88da1105",
              "leftValue": "={{ $json.cedula }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-2720, 500],
      "id": "939967b0-d897-4d6f-967d-542aeff92ece",
      "name": "SI SE ENCONTRO REGISTRO"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-2240, 720],
      "id": "0c280737-4db9-4c2a-84a5-699361afca43",
      "name": "NO HACE NADA"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const lead = item.json;\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n\n  lead.cedula = String(lead.cedula ?? '').trim();\n  lead.nombre_completo = `${lead.nombre ?? ''} ${lead.apellido ?? ''}`.trim();\n  lead.intentos_llamada = Number(lead.intentos_llamada || 0);\n  lead.win_tries = Number(lead.win_tries || 0);\n  lead.telefono_index = Number(lead.telefono_index ?? 0);\n  lead.modalidad = String(lead.modalidad ?? '').trim().toUpperCase();\n  lead.producto = String(lead.producto ?? '').trim();\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2480, 420],
      "id": "9fa20595-8eea-48b2-97f9-9c70a54669be",
      "name": "NORMALIZA DATOS"
    },
    {
      "parameters": {
        "jsCode": "function parseTime(timeStr, tz) {\n  const now = DateTime.now().setZone(tz);\n  const [h, m] = timeStr.split(':').map(Number);\n  return now.set({ hour: h, minute: m, second: 0, millisecond: 0 });\n}\n\nreturn items.map(item => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const db = item.json || {};\n  let out = { ...db };\n\n  const now = DateTime.now().setZone(cfg.policy.TZ).plus({ minutes: cfg.runtime.timeOffsetMinutes || 0 });\n  const dow = now.weekday;\n  const todayIso = now.toFormat('yyyy-MM-dd');\n  const nowTime = now.toFormat('HH:mm');\n\n  out.puedeLlamar = false;\n  out.estado_flujo = db.estado_flujo || cfg.states.pending;\n\n  if (dow === 7) {\n    const nextMonday = now.plus({ days: (8 - dow) });\n    out.status_sugerido = 'REINTENTAR';\n    out.fecha_reagenda = nextMonday.set({ hour: 8, minute: 0, second: 0, millisecond: 0 }).toISO();\n    out.reintentar_iso = out.fecha_reagenda;\n    return item;\n  }\n\n  const isHoliday = cfg.policy.holidays.includes(todayIso);\n  if (isHoliday) {\n    out.status_sugerido = 'REINTENTAR';\n    const nextDay = now.plus({ days: 1 }).set({ hour: 8, minute: 0, second: 0, millisecond: 0 });\n    out.fecha_reagenda = nextDay.toISO();\n    out.reintentar_iso = out.fecha_reagenda;\n    return item;\n  }\n\n  const intentosRaw = Number(db.intentos_llamada) || 0;\n  out.intentos_llamada = intentosRaw;\n\n  if (intentosRaw >= cfg.policy.maxLifetimeTries) {\n    out.estado_flujo = cfg.states.done;\n    out.status_sugerido = 'AGOTADO';\n    out.fecha_reagenda = null;\n    return item;\n  }\n\n  const modalidad = String(db.modalidad ?? '').trim().toUpperCase();\n  out.assistant_id = cfg.agents[modalidad] || cfg.agents['MODALIDAD EN LINEA'] || '';\n\n  const winStamp = String(db.win_stamp || '');\n  const winTries = Number(db.win_tries) || 0;\n  out.win_stamp = winStamp;\n  out.win_tries = winTries;\n  out.modo_operativo = 'normal';\n\n  const dayStr = String(dow);\n  const todayWindows = cfg.policy.windows.filter(w => w.days.split(',').includes(dayStr));\n\n  if (todayWindows.length === 0) {\n    out.status_sugerido = 'REINTENTAR';\n    const nextDay = now.plus({ days: 1 }).set({ hour: 8, minute: 0, second: 0, millisecond: 0 });\n    out.fecha_reagenda = nextDay.toISO();\n    out.reintentar_iso = out.fecha_reagenda;\n    return item;\n  }\n\n  let currentWindowIdx = -1;\n  let currentWindow = null;\n\n  for (let i = 0; i < todayWindows.length; i++) {\n    const w = todayWindows[i];\n    if (nowTime >= w.start && nowTime <= w.end) {\n      currentWindowIdx = i;\n      currentWindow = w;\n      break;\n    }\n  }\n\n  if (!currentWindow) {\n    let upcomingWindow = null;\n    for (let i = 0; i < todayWindows.length; i++) {\n      if (nowTime < todayWindows[i].start) {\n        upcomingWindow = todayWindows[i];\n        break;\n      }\n    }\n\n    if (upcomingWindow) {\n      out.status_sugerido = 'REINTENTAR';\n      const [h, m] = upcomingWindow.start.split(':').map(Number);\n      out.fecha_reagenda = now.set({ hour: h, minute: m, second: 0, millisecond: 0 }).toISO();\n      out.reintentar_iso = out.fecha_reagenda;\n    } else {\n      out.status_sugerido = 'REINTENTAR';\n      const nextDay = now.plus({ days: 1 }).set({ hour: 8, minute: 0, second: 0, millisecond: 0 });\n      out.fecha_reagenda = nextDay.toISO();\n      out.reintentar_iso = out.fecha_reagenda;\n    }\n    return item;\n  }\n\n  const stampForWindow = `${currentWindow.id}_${todayIso}`;\n\n  if (winStamp !== stampForWindow) {\n    out.win_stamp = stampForWindow;\n    out.win_tries = 0;\n    out.puedeLlamar = true;\n  } else if (winTries < cfg.policy.maxWindowTries) {\n    out.puedeLlamar = true;\n  } else {\n    const nextIdx = currentWindowIdx + 1;\n    if (nextIdx < todayWindows.length) {\n      out.status_sugerido = 'REINTENTAR';\n      const nextWin = todayWindows[nextIdx];\n      const [h, m] = nextWin.start.split(':').map(Number);\n      out.fecha_reagenda = now.set({ hour: h, minute: m, second: 0, millisecond: 0 }).toISO();\n      out.reintentar_iso = out.fecha_reagenda;\n    } else {\n      out.status_sugerido = 'REINTENTAR';\n      const nextDay = now.plus({ days: 1 }).set({ hour: 8, minute: 0, second: 0, millisecond: 0 });\n      out.fecha_reagenda = nextDay.toISO();\n      out.reintentar_iso = out.fecha_reagenda;\n    }\n  }\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2260, 300],
      "id": "e7bbfb88-7ac2-46d6-af4f-58d423692e8c",
      "name": "POLITICAS REGLA 3x3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af1a295f-9033-4eff-8b80-d54d2b9ec868",
              "leftValue": "={{ $json.puedeLlamar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-2040, 240],
      "id": "181ee58f-dcf3-4bfe-b03c-b0c9db6a9538",
      "name": "SI PUEDE LLAMAR"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const db = item.json || {};\n  let phones = [];\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const CC = cfg.policy.CC || '+593';\n  const phoneFields = cfg.policy.phoneFields || ['telefono1', 'telefono2', 'telefono3', 'telefono4', 'telefono5', 'telefono6'];\n\n  for (const field of phoneFields) {\n    const val = String(db[field] || '').replace(/\\D/g, '');\n    if (val.length >= 9) {\n      let e164 = val;\n      if (val.startsWith('0')) e164 = CC + val.substring(1);\n      else if (!val.startsWith('+')) e164 = CC + val;\n      if (!phones.find(p => p.e164 === e164)) phones.push({ field, e164 });\n    }\n  }\n\n  let selected = null;\n  const tIndex = Number(item.json.telefono_index || db.telefono_index || 0);\n\n  if (phones.length > 0) {\n    const idx = tIndex % phones.length;\n    selected = phones[idx];\n  }\n\n  item.json.phones_parsed = phones;\n  item.json.selected_phone = selected;\n  item.json.telefono_actual = selected ? selected.e164 : '';\n  item.json.isOutOfNumbers = selected === null;\n  item.json.hasPhonesOutsideWindow = false;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1800, 220],
      "id": "e81f7d14-d96f-421c-8a76-5fe0db1085e5",
      "name": "PROCESA TELEFONOS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ddfd4b58-508c-4eee-a89d-63cd426b24db",
              "name": "fecha_reagenda",
              "value": "={{ $json.reintentar_iso || null }}",
              "type": "string"
            },
            {
              "id": "837c82e3-7236-4ff6-b034-4b4bdab861ae",
              "name": "estado_flujo",
              "value": "={{ $json.status_sugerido === 'AGOTADO' ? $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.states.done : $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.states.retry }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1820, 560],
      "id": "98632521-86a1-4684-b18f-47e11b571fa6",
      "name": "FORMATEA STATUS"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "utpl_registros",
          "cachedResultName": "utpl_registros"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cedula": "={{ String($json.cedula || '') }}",
            "estado_flujo": "={{ $json.estado_flujo }}",
            "fecha_reagenda": "={{ $json.fecha_reagenda }}",
            "win_stamp": "={{ $json.win_stamp }}",
            "win_tries": "={{ $json.win_tries }}",
            "intentos_llamada": "={{ $json.intentos_llamada ?? null }}",
            "telefono_index": "={{ $json.telefono_index ?? null }}",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": ["cedula"],
          "schema": [
            {
              "id": "cedula",
              "displayName": "cedula",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_flujo",
              "displayName": "estado_flujo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_reagenda",
              "displayName": "fecha_reagenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "intentos_llamada",
              "displayName": "intentos_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "win_stamp",
              "displayName": "win_stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "win_tries",
              "displayName": "win_tries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono_index",
              "displayName": "telefono_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-1580, 560],
      "id": "67bf9a75-cb61-4559-aa05-02239f9d5578",
      "name": "GUARDA STATUS",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "71d6f329-2f85-4ba1-b581-2766d94ab22e",
              "leftValue": "={{ $json.isOutOfNumbers }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1520, 260],
      "id": "6540af7d-54b6-4baf-8fdd-cfd2c874ad0f",
      "name": "SI QUEDAN NUMEROS"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const lead = item.json;\n\n  lead.snapshot_estado_flujo = lead.estado_flujo;\n  lead.snapshot_fecha_reagenda = lead.fecha_reagenda;\n  lead.snapshot_intentos_llamada = lead.intentos_llamada;\n  lead.snapshot_win_tries = lead.win_tries;\n  lead.snapshot_telefono_index = lead.telefono_index;\n  lead.snapshot_win_stamp = lead.win_stamp;\n  lead.snapshot_fecha_ultima_llamada = lead.fecha_ultima_llamada;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1280, 160],
      "id": "c0010001-0001-4000-a000-000000000001",
      "name": "CAPTURA SNAPSHOT"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const lead = item.json;\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n\n  if (lead.hasPhonesOutsideWindow) {\n    const t = new Date();\n    t.setMinutes(t.getMinutes() + Number(cfg.policy.offHoursWait || 30));\n    lead.estado_flujo = cfg.states.retry;\n    lead.status_sugerido = 'REINTENTAR';\n    lead.fecha_reagenda = t.toISOString();\n    lead.reintentar_iso = lead.fecha_reagenda;\n    return item;\n  }\n\n  lead.estado_flujo = cfg.states.done;\n  lead.status_sugerido = 'FINAL';\n  lead.fecha_reagenda = null;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1280, 400],
      "id": "6ae375ef-006c-4bc6-9981-1ba6bbe30b01",
      "name": "SIN NUMERO VALIDO"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "utpl_registros",
          "cachedResultName": "utpl_registros"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cedula": "={{ String($json.cedula || '') }}",
            "estado_flujo": "={{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.states.inProgress }}",
            "win_stamp": "={{ $json.win_stamp }}",
            "win_tries": "={{ Number($json.win_tries || 0) + 1 }}",
            "telefono_index": "={{ Number($json.telefono_index || 0) + 1 }}",
            "intentos_llamada": "={{ Number($json.intentos_llamada || 0) + 1 }}",
            "fecha_ultima_llamada": "={{ $now }}",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": ["cedula"],
          "schema": [
            {
              "id": "cedula",
              "displayName": "cedula",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_flujo",
              "displayName": "estado_flujo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_reagenda",
              "displayName": "fecha_reagenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "intentos_llamada",
              "displayName": "intentos_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ultimo_resultado_llamada",
              "displayName": "ultimo_resultado_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_ultima_llamada",
              "displayName": "fecha_ultima_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "win_stamp",
              "displayName": "win_stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "win_tries",
              "displayName": "win_tries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono_index",
              "displayName": "telefono_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-1020, 80],
      "id": "8390c398-c1fa-40c1-931b-2aac9a4fc50a",
      "name": "GUARDA PRE-LLAMADA",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "utpl_registros",
          "cachedResultName": "utpl_registros"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cedula": "={{ String($json.cedula || '') }}",
            "estado_flujo": "={{ $json.estado_flujo || $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.states.done }}",
            "fecha_reagenda": "={{ $json.fecha_reagenda }}",
            "intentos_llamada": "={{ Number($json.intentos_llamada || 0) }}",
            "win_tries": "={{ Number($json.win_tries || 0) }}",
            "telefono_index": "={{ Number($json.telefono_index || 0) }}",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": ["cedula"],
          "schema": [
            {
              "id": "cedula",
              "displayName": "cedula",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado_flujo",
              "displayName": "estado_flujo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_reagenda",
              "displayName": "fecha_reagenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_stamp",
              "displayName": "win_stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_tries",
              "displayName": "win_tries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "intentos_llamada",
              "displayName": "intentos_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_index",
              "displayName": "telefono_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_ultima_llamada",
              "displayName": "fecha_ultima_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-1280, 600],
      "id": "e4bfab80-1440-46fd-8a83-ee580557d06b",
      "name": "GUARDA REPORTE",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.runtime.testMode ? 'https://n8nps.plusservices.ec/webhook/utpl-simulador' : 'https://api.vapi.ai/call' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.vapi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"outboundPhoneCall\",\n  \"name\": \"Llamada {{ $json.modalidad || 'UTPL' }} - {{ $json.cedula }}\",\n  \"assistantId\": \"{{ $json.assistant_id || $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.agents['MODALIDAD EN LINEA'] }}\",\n  \"phoneNumberId\": \"{{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.vapi.phoneNumberId }}\",\n  \"customer\": {\n    \"number\": \"{{ $json.telefono_actual }}\",\n    \"name\": \"{{ $json.nombre_completo }}\"\n  },\n  \"metadata\": {\n    \"cedula\": \"{{ $json.cedula }}\",\n    \"modalidad\": \"{{ $json.modalidad }}\",\n    \"producto\": \"{{ $json.producto }}\"\n  },\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"sip\": \"{{ $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg.vapi.sip }}\",\n      \"cedula\": \"{{ $json.cedula }}\",\n      \"nombre\": \"{{ $json.nombre }}\",\n      \"nombre_cliente\": \"{{ $json.nombre_completo }}\",\n      \"producto\": \"{{ $json.producto }}\",\n      \"modalidad\": \"{{ $json.modalidad }}\",\n      \"modo\": \"{{ $json.modo_operativo || 'normal' }}\",\n      \"MODO\": \"{{ $json.modo_operativo || 'normal' }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-740, 80],
      "id": "7504d111-a443-4ae9-9021-9a87fcdae5ae",
      "name": "LLAMAR VAPI AGENTE",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ (() => {\n  const cfg = $items('CONFIG INICIAL UTPL', 0, 0)[0].json.cfg;\n  const raw = String($json.cedula ?? $items('BUSCA Y BLOQUEA REGISTRO', 0, 0)[0].json.cedula ?? '').trim();\n  if (!raw) return `SELECT 'skip_fallback_sin_cedula' AS status`;\n\n  const cedula = raw.replace(/'/g, \"''\");\n\n  const hasSnapshot = [\n    $json.snapshot_estado_flujo,\n    $json.snapshot_fecha_reagenda,\n    $json.snapshot_intentos_llamada,\n    $json.snapshot_win_tries,\n    $json.snapshot_telefono_index,\n    $json.snapshot_win_stamp,\n    $json.snapshot_fecha_ultima_llamada\n  ].some(v => v !== undefined);\n\n  if (hasSnapshot) {\n    const snapEstado = String($json.snapshot_estado_flujo ?? cfg.states.pending ?? 'PENDIENTE').replace(/'/g, \"''\");\n\n    const snapFechaReagendaRaw = $json.snapshot_fecha_reagenda;\n    const snapFechaReagendaSql = (snapFechaReagendaRaw == null || String(snapFechaReagendaRaw).trim() === '')\n      ? 'NULL'\n      : ` '${String(snapFechaReagendaRaw).replace(/'/g, \"''\")}'::timestamptz `;\n\n    const snapFechaUltRaw = $json.snapshot_fecha_ultima_llamada;\n    const snapFechaUltSql = (snapFechaUltRaw == null || String(snapFechaUltRaw).trim() === '')\n      ? 'NULL'\n      : ` '${String(snapFechaUltRaw).replace(/'/g, \"''\")}'::timestamptz `;\n\n    const snapIntentosNum = Number($json.snapshot_intentos_llamada);\n    const snapIntentosSql = isNaN(snapIntentosNum) ? 'NULL' : String(snapIntentosNum);\n\n    const snapWinTriesNum = Number($json.snapshot_win_tries);\n    const snapWinTriesSql = isNaN(snapWinTriesNum) ? 'NULL' : String(snapWinTriesNum);\n\n    const snapTelIndexNum = Number($json.snapshot_telefono_index);\n    const snapTelIndexSql = isNaN(snapTelIndexNum) ? 'NULL' : String(snapTelIndexNum);\n\n    const snapWinStampRaw = $json.snapshot_win_stamp;\n    const snapWinStampSql = (snapWinStampRaw == null || String(snapWinStampRaw).trim() === '')\n      ? 'NULL'\n      : ` '${String(snapWinStampRaw).replace(/'/g, \"''\")}' `;\n\n    return `\n      UPDATE ${cfg.db.schema}.${cfg.db.table}\n      SET estado_flujo = '${snapEstado}',\n          fecha_reagenda = ${snapFechaReagendaSql},\n          intentos_llamada = ${snapIntentosSql},\n          win_tries = ${snapWinTriesSql},\n          telefono_index = ${snapTelIndexSql},\n          win_stamp = ${snapWinStampSql},\n          fecha_ultima_llamada = ${snapFechaUltSql},\n          updated_at = now()\n      WHERE cedula = '${cedula}'\n      RETURNING *;\n    `;\n  }\n\n  return `\n    UPDATE ${cfg.db.schema}.${cfg.db.table}\n    SET estado_flujo = '${cfg.states.pending}',\n        fecha_reagenda = NULL,\n        intentos_llamada = 0,\n        win_tries = 0,\n        telefono_index = 0,\n        win_stamp = NULL,\n        fecha_ultima_llamada = NULL,\n        updated_at = now()\n    WHERE cedula = '${cedula}'\n    RETURNING *;\n  `;\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-660, 220],
      "id": "32a4800d-ab2c-4106-ac2a-fe917a2ef62e",
      "name": "FALLBACK RESTORE",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "CONFIG INICIAL UTPL": {
      "main": [
        [
          {
            "node": "BUSCA Y BLOQUEA REGISTRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EJECUTA ESTO CADA 60 SEG": {
      "main": [
        [
          {
            "node": "CONFIG INICIAL UTPL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA Y BLOQUEA REGISTRO": {
      "main": [
        [
          {
            "node": "SI SE ENCONTRO REGISTRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI SE ENCONTRO REGISTRO": {
      "main": [
        [
          {
            "node": "NORMALIZA DATOS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NO HACE NADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NORMALIZA DATOS": {
      "main": [
        [
          {
            "node": "POLITICAS REGLA 3x3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POLITICAS REGLA 3x3": {
      "main": [
        [
          {
            "node": "SI PUEDE LLAMAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI PUEDE LLAMAR": {
      "main": [
        [
          {
            "node": "PROCESA TELEFONOS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FORMATEA STATUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCESA TELEFONOS": {
      "main": [
        [
          {
            "node": "SI QUEDAN NUMEROS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FORMATEA STATUS": {
      "main": [
        [
          {
            "node": "GUARDA STATUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI QUEDAN NUMEROS": {
      "main": [
        [
          {
            "node": "CAPTURA SNAPSHOT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SIN NUMERO VALIDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CAPTURA SNAPSHOT": {
      "main": [
        [
          {
            "node": "GUARDA PRE-LLAMADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SIN NUMERO VALIDO": {
      "main": [
        [
          {
            "node": "GUARDA REPORTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARDA PRE-LLAMADA": {
      "main": [
        [
          {
            "node": "LLAMAR VAPI AGENTE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FALLBACK RESTORE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLAMAR VAPI AGENTE": {
      "main": [
        [
          {
            "node": "NO HACE NADA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FALLBACK RESTORE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b6f1f1a1-a000-4000-9000-000000000001",
  "meta": {
    "instanceId": "915a7f7568d882a64f47657d6f3fab09c88f51183cb22a1bfa48ee39cc137bcd"
  },
  "id": "N0uWFbRxqWFU7xk4",
  "tags": []
}
