flujo_n8n/UTPL_SIMULADOR.json
{
  "name": "UTPL_SIMULADOR",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "utpl-simulador",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-520, 200],
      "id": "sim-wh-simulador-001",
      "name": "Webhook Simulador",
      "webhookId": "utpl-simulador-wh"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const meta = (item.json.metadata || item.json.body?.metadata || {});\n  const idNegocio = String(meta.id_negocio || '').trim();\n  const cedula = String(meta.cedula || '').trim();\n  const modalidad = String(meta.modalidad || 'MODALIDAD EN LINEA').trim();\n  const producto = String(meta.producto || '').trim();\n  const nombreCampania = String(meta.nombre_corto_campania || '').trim();\n  const phone = String((item.json.customer || item.json.body?.customer || {}).number || '0999999999');\n\n  const hash = idNegocio.split('').reduce((acc, c) => acc + c.charCodeAt(0), 0);\n  const bucket = hash % 100;\n\n  const nomNombre = [\n    { nom: 'ACE', sentimiento: 'POSITIVO', resumen: 'Cliente acepto el plan de pagos y realizara la matricula en los proximos dias.' },\n    { nom: 'IND', sentimiento: 'NEUTRAL', resumen: 'Cliente indeciso, necesita consultar con su familia antes de tomar una decision.' },\n    { nom: 'NUE', sentimiento: 'POSITIVO', resumen: 'Cliente nuevo interesado en la carrera.' },\n    { nom: 'VLL', sentimiento: 'NEUTRAL', resumen: 'Cliente solicito volver a llamar en otro horario.' },\n    { nom: 'NC', sentimiento: null, resumen: 'Llamada dirigida al buzon de voz.' },\n    { nom: 'NIN', sentimiento: 'NEGATIVO', resumen: '' }\n  ];\n\n  let ix;\n  if (bucket < 15) ix = 0;\n  else if (bucket < 25) ix = 1;\n  else if (bucket < 35) ix = 2;\n  else if (bucket < 55) ix = 3;\n  else if (bucket < 75) ix = 4;\n  else ix = 5;\n\n  const selected = nomNombre[ix];\n  let nom = selected.nom;\n  let sentimiento = selected.sentimiento;\n  let resumen = selected.resumen;\n  let motivoVapi = selected.nom;\n\n  if (nom === 'NIN') {\n    const ninSub = [\n      { motivo: 'Equivocado', keys: 'equivocado wrong error numero', sent: 'NEGATIVO' },\n      { motivo: 'IVR De Empresa', keys: 'fax empresa oficina centralita', sent: 'NEUTRAL' },\n      { motivo: 'Continuara por si solo', keys: 'cuenta propia por su cuenta solo', sent: 'NEUTRAL' },\n      { motivo: 'Titular Esta Fuera Del Pais', keys: 'fuera del pais extranjero viaje', sent: 'NEGATIVO' },\n      { motivo: 'Tercero o Familiar Pide No Llamar', keys: 'no llame no moleste no llamar', sent: 'NEGATIVO' },\n      { motivo: 'Neg-Costos-No Tiene Dinero', keys: 'dinero costo caro pagar', sent: 'NEGATIVO' },\n      { motivo: 'Neg-Pers-Problemas De Salud', keys: 'salud enfermo enfermedad medico', sent: 'NEGATIVO' },\n      { motivo: 'Informacion Para Un Familiar', keys: 'para un familiar para mi hijo', sent: 'NEUTRAL' },\n      { motivo: 'Neg-Pers-Aun No Es Bachiller', keys: 'bachiller colegio terminando', sent: 'NEUTRAL' },\n      { motivo: 'Negativa-Pers-Titular Fallecido', keys: 'fallecio fallecido murio', sent: 'NEGATIVO' },\n      { motivo: 'Estudiante Utpl 2Do. En Adelante', keys: 'estudiante continuo ya estudio', sent: 'NEUTRAL' },\n      { motivo: 'Interesado En Maestria', keys: 'maestria posgrado postgrado', sent: 'NEUTRAL' },\n      { motivo: 'No Ha Solicitado Informacion', keys: 'no solicite no pedi informacion', sent: 'NEGATIVO' },\n      { motivo: 'Mala Experiencia Con Utpl', keys: 'mala experiencia mal servicio queja', sent: 'NEGATIVO' },\n      { motivo: 'No Tiene Tiempo Para Estudiar', keys: 'no tengo tiempo ocupado', sent: 'NEGATIVO' },\n      { motivo: 'No Esta Interesado En Modalidad En Linea', keys: 'presencial no en linea no modalidad en linea', sent: 'NEGATIVO' },\n      { motivo: 'Estudia Ahora En Otra Univ', keys: 'otra universidad ya estudio en', sent: 'NEGATIVO' },\n      { motivo: 'Carreras Ofertadas No Desea', keys: 'no ofertan no tiene la carrera', sent: 'NEGATIVO' },\n      { motivo: 'Interesado Cursos Form. Perm', keys: 'cursos taller formacion permanente', sent: 'NEUTRAL' },\n      { motivo: 'Interesado Proximo periodo', keys: 'proximo periodo siguiente ciclo', sent: 'NEUTRAL' },\n      { motivo: 'No Localizable', keys: 'no localizable no contesta', sent: 'NEGATIVO' },\n      { motivo: 'No Desea Continuar Con Proceso Matricula', keys: 'no desea no quiere no continua', sent: 'NEGATIVO' }\n    ];\n    const subIx = hash % ninSub.length;\n    const sub = ninSub[subIx];\n    motivoVapi = sub.motivo;\n    resumen = 'Cliente indica que ' + sub.keys.split(' ').slice(0, 3).join(' ') + '. No muestra interes en continuar con el proceso de matricula en UTPL.';\n    sentimiento = sub.sent;\n  }\n\n  const now = new Date();\n  const endedAt = now.toISOString();\n  const startedAt = new Date(now.getTime() - 45000).toISOString();\n  const callId = 'sim-' + idNegocio + '-' + Date.now();\n  const fechaGestion = endedAt.slice(0, 10);\n  const horaGestion = now.toLocaleTimeString('en-GB', { timeZone: 'America/Guayaquil', hour12: false }).slice(0, 8);\n\n  item.json.endOfCallReport = {\n    message: {\n      type: 'end-of-call-report',\n      id: callId,\n      endedAt: endedAt,\n      startedAt: startedAt,\n      endedReason: 'customer-ended-call',\n      durationMs: 45000,\n      durationSeconds: 45,\n      transcript: resumen,\n      summary: resumen,\n      recordingUrl: null,\n      customer: { number: phone },\n      metadata: {\n        id_negocio: idNegocio,\n        cedula: cedula,\n        modalidad: modalidad,\n        producto: producto,\n        nombre_corto_campania: nombreCampania\n      },\n      structuredOutputs: {\n        '11111111-1111-1111-1111-111111111111': {\n          name: 'Estado_Gestion_UTPL',\n          result: { id_nomenclatura: nom, id_motivo: motivoVapi }\n        },\n        '22222222-2222-2222-2222-222222222222': {\n          name: 'Sentimiento_Cliente',\n          result: sentimiento || 'NEUTRAL'\n        },\n        '33333333-3333-3333-3333-333333333333': {\n          name: 'Es Familiar',\n          result: 'NO'\n        },\n        '44444444-4444-4444-4444-444444444444': {\n          name: 'contactoalo',\n          result: nom === 'NC' ? 'NO' : 'SI'\n        },\n        '55555555-5555-5555-5555-555555555555': {\n          name: 'contactoefectivo',\n          result: nom === 'NC' ? 'NO' : 'SI'\n        },\n        '66666666-6666-6666-6666-666666666666': {\n          name: 'Resumen_Llamada',\n          result: resumen\n        },\n        '77777777-7777-7777-7777-777777777777': {\n          name: 'Cliente_Transferido',\n          result: 'NO'\n        }\n      },\n      id_negocio: idNegocio,\n      cedula: cedula,\n      fecha_gestion: fechaGestion,\n      hora_gestion: horaGestion,\n      id_llamada: callId,\n      nomenclatura: nom,\n      motivo: motivoVapi,\n      es_familiar: 'NO',\n      contactoalo: nom === 'NC' ? 'NO' : 'SI',\n      contactoefectivo: nom === 'NC' ? 'NO' : 'SI',\n      sentimiento: sentimiento,\n      resumen_llamada: resumen,\n      duracion_llamada: 45,\n      customer_number: phone,\n      numero_telefono: phone,\n      status_sugerido: (nom === 'NC' || nom === 'VLL') ? 'REINTENTAR' : 'FINAL',\n      estado_flujo: (nom === 'NC' || nom === 'VLL') ? 'REINTENTAR' : 'FINALIZADO'\n    }\n  };\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-260, 200],
      "id": "sim-code-generar-001",
      "name": "SIMULADOR - Genera Cierre"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://n8nps.plusservices.ec/webhook/utpl-cierre-vapi' }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.endOfCallReport) }}",
        "options": { "timeout": 10000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 200],
      "id": "sim-http-enviar-cierre-001",
      "name": "ENVIAR CIERRE SIMULADO",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Simulador": {
      "main": [
        [
          { "node": "SIMULADOR - Genera Cierre", "type": "main", "index": 0 }
        ]
      ]
    },
    "SIMULADOR - Genera Cierre": {
      "main": [
        [
          { "node": "ENVIAR CIERRE SIMULADO", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "sim-001",
  "meta": { "instanceId": "915a7f7568d882a64f47657d6f3fab09c88f51183cb22a1bfa48ee39cc137bcd" },
  "id": "UTPL_SIMULADOR_FLOW",
  "tags": []
}
